<div class="manageContainer">
  <div class="form1">
<form ng-submit="addEvent(formItem)">
  <div class="form-group">
    <label for="event-name"></lable>
      <input placeholder="event name" type="text" name="" value="" required ng-model="formItem.eventName">
  </div>
  <div class="form-group">
    <label for="event-address"></lable>
      <input placeholder="Event Address" type="text" name="" value="" required ng-model="formItem.eventAddress">
  </div>
  <div class="form-group">
    <label for="event-date"></label>
    <input type="date"
    ng-model="formItem.date"
    id="event-date"

    [name="string"]
    [min="string"]
    [max="string"]
    [ng-min=""]
    [ng-max=""]
    [required="string"]
    [ng-required="string"]
    [ng-change="string"]>
  </div>
  <div class="form-group">
    <label for="event-description">Description</label>
    <textarea placeholder="enter description of event" rows="5" type="in" class="form-control" id="event-description" required ng-model="formItem.description">
    </textarea>
  </div>
  <div class="form-group">
    <label for="event-link"></label>
    <textarea placeholder="link to more details" rows="1" type="in" class="form-control" id="event-description"  ng-model="formItem.linkto">
    </textarea>
  </div>
  <button type="submit">Add Event</button>

</form>
</div>


</div>
