<div class="form2">

  		<h1>Search</h1>
  		<label><i class="fa fa-search" aria-hidden="true"></i></label><input style="color: black;"id="search" type="text" ng-model="searchInput">



  	<span  class="item" ng-repeat="event in searchEvents | filter: searchInput | limitTo: 2" ng-show="searchInput">
  			<div ng-click="">
  			<!-- <div ng-click="goToEvent(event.id)"> -->
  				<h2>{{event.eventname}}</h2>
  				<h4>{{event.eventdate | date: MMMM-dd-yyyy}}</h4>
          <h5>eventID: {{event.id}}</h5>
  				<p>{{event.description}}</p>
  			</div>

  	</span>


</div>



<div class="form3">
  <form ng-submit="updateEvents(updateItem)">
  <div class="form-group">
    <label for="edit-section">Which Section Do You Want To Edit</label>
    <select class="form-control" id="edit-section" ng-model="updateItem.column">
      <option >event name</option>
      <option >link</option>
      <option >date</option>
      <option>description</option>
    </select>
  </div>
  <div class="form-group">
    <label for="event-name"></lable>
      <input placeholder="eventID" type="number" name="" value="" required ng-model="updateItem.id">
  </div>
  <div class="form-group">
    <label for="event-description">update</label>
    <textarea placeholder="enter description of event" rows="5" type="in" class="form-control" id="event-description" required ng-model="updateItem.text">
    </textarea>
  </div>
  <button type="submit">Update Event</button>
  </form>
</div>
