
<div class="top">

</div>
<!-- <div class="lineThrough"></div> -->

<div id="upcmg" class="upcoming">
<!-- <p style="color:white;" ng-click="moveEvent()" id="test">Q</p> -->
  <div class="surroundUpcoming">
  <a href="#!/events"><h2 id="scrollLimit" class="section">Upcoming</h2></a>

  <p id="blinkingArrow" ng-click="moveEventRev()" class="section"> < left </p>
  <p id="blinkingArrowLeft" ng-click="moveEvent()" class="section"> right > </p>
  </div>

  <div id="moveTo1" class="row eventHomePage">

    <div ng-repeat="event in latest" id="go{{$index}}"class="event1 rec{{$index}}">
      <div class="picHolder{{$index}}"></div>
      <div class="eventData">
      <div class="afterDate">
      {{event.eventdate | date : longDate:'+0430'}}</div><br>
      <p ng-click="goToEvent(event.id)" class="eventname" >{{event.eventname}}</p><br>
      <div class="descript"><p>{{event.description}}</p></div><br>
      <a class="seeEvents" href="#!/events">see more events</a>
    </div>
    </div>
    <!-- <div class="arrowRight"><img ng-click="moveEvent()" src="../img/icons/arrow-right.png" alt=""></div> -->

  </div>

</div>
<!-- <div class="lineThrough"></div> -->

<div class="mediaSign">

  <h2 class="section2"><a href="#!/media">Media</a></h2>

</div>
