<div class="mediaContainer">

<div id="audioID" ng-click="showAudio()" class="audioDiv"><h4>Audio <span class="glyphicon glyphicon-music"></span></h4></div>
<div ng-click="showPhoto()" class="photoDiv"><h4>Photo <span class="glyphicon glyphicon-camera"></span></h4></div>
<div ng-click="showVideo()" class="videoDiv"><h4>Video <span class="glyphicon glyphicon-film"></span></h4></div>

</div>
<div class="boxHolder">
<div id="behind" class="behindStuff"></div>

<div id='audio' class="mediaBoxHide">

<iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/330549450%3Fsecret_token%3Ds-fakek" width="100%" height="360" scrolling="no" frameborder="no"></iframe>
</div>
<div id='video' class="mediaBoxHide">
<div id="ytplayer">
  <a href="https://www.youtube.com/embed/FG3RsHNbZOc?modestbranding=1&amp;rel=0&amp;controls=1&amp;showinfo=1&amp;color=white" data-lity>
    <div class="vidRep">
      <h3><span class="vidName">Depuis le jour</span></h3>
      <h5>Louise, Charpentier</h5>
      <p>Steven Mcghee - Piano</p><br>
      <!-- <span class="glyphicon glyphicon-film"></span> -->
      <img class="icon" src="/img/icons/play.png" alt="">
  </div></a>
  <a href="https://www.youtube.com/embed/fMwfuzuWTvo?modestbranding=1&amp;rel=0&amp;controls=1&amp;showinfo=1&amp;color=white" data-lity>
    <div class="vidRep2">
      <h3><span class="vidName">Song to the Moon</span></h3>
      <h6>Rusalka, Dvorak</h6>
      <p>Steven Mcghee - Piano</p><br>
      <!-- <span class="glyphicon glyphicon-film"></span> -->
      <img class="icon" src="/img/icons/play.png" alt="">
  </div></a>
  <!-- <iframe width="444" height="250" src="https://www.youtube.com/embed/FG3RsHNbZOc?modestbranding=1&amp;rel=0&amp;controls=1&amp;showinfo=1&amp;color=white" frameborder="0" allowfullscreen></iframe> -->
</div>

</div>
<div id='photo' class="mediaBoxHide">
  <h3 class='section'>Photos</h3>
  <a href="/img/resized/nikkiNoSmile.jpg" data-lightbox="nikki"><div class="photoGallery1"></div></a>
  <a href="/img/resized/400x500/ncutie.jpg" data-lightbox="nikki"><div class="photoGallery3"></div></a>
  <a href="/img/resized/400x500/window.jpg" data-lightbox="nikki"><div class="photoGallery4"></div></a>
  <a href="/img/resized/square500/sing.jpg" data-lightbox="nikki"><div class="photoGallery5"></div></a>

  <a href="/img/resized/performance.jpg" data-lightbox="nikki"><div class="photoGallery2"></div></a>
<!-- <div class="galleria">
    <img src="/img/nikkiNoSmile3.jpg">
    <img src="/img/NikkiCutie.jpg">
    <img src="/img/NikkiSing.jpg">
    <img src="/img/NikkiSurprise.jpg">
    <img src="/img/NikkiWindow2.jpg">
    <img src="/img/smiles.jpg">
</div> -->

</div>
</div>
