<div class="allMedia">
<div class="mediaContainer">
  <div class="downward"></div>
  <div class="mediaHolder">
<div id="audioID" ng-click="showAudio()" class="audioDiv"><h4>Audio</span></h4></div>
<div ng-click="showPhoto()" class="photoDiv"><h4>Photo </span></h4></div>
<div ng-click="showVideo()" class="videoDiv"><h4>Video </span></h4></div>
  </div>
</div>
<div class="boxHolder">
<div id="behind" class="behindStuff"></div>

<div id='audio' class="mediaBoxHide">
<h3 class='section'>Audio</h3>
<iframe id="sc-widget" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/333156393%3Fsecret_token%3Ds-fakek" width="100%" height="360" scrolling="no" frameborder="no"></iframe>
</div>
<div id='video' class="mediaBoxHide">
  <h3 class='section'>Videos</h3>
<div id="ytplayer">
  <a href="https://www.youtube.com/embed/FG3RsHNbZOc?modestbranding=1&amp;rel=0&amp;controls=1&amp;showinfo=1&amp;color=white" data-lity>
    <div class="vidRep">
      <div>
      <h3><span class="vidName">Depuis le jour</span></h3>

      <p>Steven Mcghee - Piano</p><br>

    </div>
  </div></a>
  <a href="https://www.youtube.com/embed/fMwfuzuWTvo?modestbranding=1&amp;rel=0&amp;controls=1&amp;showinfo=1&amp;color=white" data-lity>
    <div class="vidRep2">
      <div>
        <h3><span class="vidName">Song to the Moon</span></h3>
        <!-- <h5>Rusalka, Dvorak</h5> -->
        <p>Steven Mcghee - Piano</p><br>
      </div>

  </div></a><br>

</div>

</div>
<div id='photo' class="mediaBoxHide">
  <h3 class='section'>Photos</h3>
  <a href="/img/resized/nikkiNoSmile.jpg" data-title="Photo Credit Bruno Vanzieleghem" data-lightbox="nikki"><div class="photoGallery1"></div></a>
  <a href="/img/resized/400x500/ncutie.jpg" data-title="Photo Credit Bruno Vanzieleghem" data-lightbox="nikki"><div class="photoGallery3"></div></a>
  <a href="/img/resized/400x500/window.jpg" data-title="Photo Credit Bruno Vanzieleghem" data-lightbox="nikki"><div class="photoGallery4"></div></a>
  <a href="/img/resized/square500/sing.jpg" data-lightbox="nikki"><div class="photoGallery5"></div></a>

  <a href="/img/resized/performance.jpg" data-lightbox="nikki"><div class="photoGallery2"></div></a>
  <a href="../img/resized/w900h600/SBMF2015white.jpg" data-lightbox="nikki"></a>
  <a href="../img/resized/w900h600/blackdressSingSBM2016.jpg" data-lightbox="nikki"></a>
  <a href="../img/resized/w900h600/2016SBMblack.jpg" data-lightbox="nikki"></a>


</div>
</div>
</div>
