<div class="thisEventPage">
<div class="pic1Holder">
<div class="Pic1"></div>
</div>
<div id="thisEventHold">
<div class="eventDiv" ng-repeat="event in singleEvent">
    <h3>{{event.eventname}}</h3>
    <h4><b>{{event.eventdate | date: MMMM-dd-yyyy}}</b></h4>
    <p>{{event.description}}</p>
    <a href="{{event.linkto}}" target="_blank"><button type="button" name="button">More Info</button></a><br>
    <a href="#!/events"><p>See Full Schedule</p></a>
</div>
<div class="mapHolder">
  <div id="map"></div>
</div>
</div>
</div>
