@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Great+Vibes|Rouge+Script");
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Yantramanav:300");
/*font-family: 'Great Vibes', cursive;
font-family: 'Rouge Script', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Yantramanav', sans-serif;
font-family: 'Didact Gothic', sans-serif;*/
@font-face {
  font-family: money;
  src: url("../fonts/Montserrat-Thin.ttf"); }
.icon {
  width: 3vw; }

.lineThrough {
  background-color: #9B0423;
  position: relative;
  height: 1px;
  z-index: 0; }

.footer {
  height: 75px;
  background-color: #e9eaea;
  width: 100vw; }
  .footer .iconCenter {
    padding-top: 10px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: money; }
    .footer .iconCenter .footerIcons {
      width: 35px;
      height: 35px;
      margin: auto; }

@keyframes showDivs {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  margin: 0;
  padding: 0;
  animation: showDivs 1s; }
  body ng-scope {
    background-color: #e9eaea; }
@keyframes nav-slide {
  from {
    padding: 0 0; }
  to {
    padding: 0 4vw; } }
  body #navTable {
    text-align: center;
    background-color: #e9eaea;
    border-top: 1px solid #dee0e0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 32px;
    margin: auto;
    z-index: 11; }
    @media (max-width: 607px) {
      body #navTable {
        height: 28px; } }
    body #navTable a {
      color: black;
      font-size: 20px;
      text-decoration: none;
      z-index: 11; }
      @media (max-width: 607px) {
        body #navTable a {
          font-size: 15px; } }
      @media (max-width: 462px) {
        body #navTable a {
          font-size: 12px; } }
      @media (max-width: 375px) {
        body #navTable a {
          font-size: 9px; } }
      body #navTable a:hover {
        color: white;
        background-color: rgba(212, 214, 214, 0.2);
        border-radius: 4px; }
      body #navTable a:before {
        background-color: #e9eaea; }
    body #navTable .pageNotify {
      display: inline;
      font-family: money;
      padding: 0 4vw;
      border-radius: 4px; }
      body #navTable .pageNotify a {
        color: #9B0423; }
    body #navTable .navSelect {
      font-family: money;
      display: inline;
      padding: 0 4vw; }
  body .row {
    padding: 0;
    margin: 0; }

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0 !important; }
  .container-fluid .title {
    height: 125px;
    letter-spacing: 3vw;
    text-align: center;
    font-family: money;
    color: black;
    background-color: #efefef; }
    @media (max-width: 800px) {
      .container-fluid .title {
        height: 100px; } }
    @media (max-width: 600px) {
      .container-fluid .title {
        height: 90px; } }
    @media (max-width: 540px) {
      .container-fluid .title {
        height: 70px; } }
    @media (max-width: 400px) {
      .container-fluid .title {
        height: 50px; } }
    .container-fluid .title #soprano {
      font-size: 30px;
      margin-top: -13px;
      margin-bottom: 10px; }
      @media (max-width: 800px) {
        .container-fluid .title #soprano {
          font-size: 28px; } }
      @media (max-width: 680px) {
        .container-fluid .title #soprano {
          margin-top: 0;
          font-size: 27px; } }
      @media (max-width: 600px) {
        .container-fluid .title #soprano {
          margin-top: 0;
          font-size: 25px; } }
      @media (max-width: 400px) {
        .container-fluid .title #soprano {
          font-size: 20px; } }
    .container-fluid .title .accent {
      color: #9B0423; }
    .container-fluid .title .theN {
      font-family: money; }
    .container-fluid .title h1 {
      font-size: 600%;
      margin: 0; }
      @media (max-width: 800px) {
        .container-fluid .title h1 {
          font-size: 500%; } }
      @media (max-width: 680px) {
        .container-fluid .title h1 {
          font-size: 400%; } }
      @media (max-width: 540px) {
        .container-fluid .title h1 {
          font-size: 300%; } }
      @media (max-width: 400px) {
        .container-fluid .title h1 {
          font-size: 200%; } }
  .container-fluid .top {
    width: 100vw;
    height: 600px;
    margin: 0;
    background-image: url("../img/resized/window.jpg");
    background-attachment: fixed;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: cover; }
    @media (max-width: 1280px) {
      .container-fluid .top {
        background-position: 0 -25px; } }
    @media (max-width: 910px) {
      .container-fluid .top {
        background-position: 0 0px; } }
  .container-fluid .upcoming {
    width: 100vw;
    height: 27vw;
    margin: 0 auto;
    background-color: #efefef;
    position: relative; }
    @media (max-width: 960px) {
      .container-fluid .upcoming {
        height: 27vw; } }
    @media (max-width: 750px) {
      .container-fluid .upcoming {
        height: 28vw; } }
    @media (max-width: 625px) {
      .container-fluid .upcoming {
        height: 29vw; } }
    .container-fluid .upcoming .surroundUpcoming {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 0;
      background-color: #efefef;
      text-align: center; }
      .container-fluid .upcoming .surroundUpcoming .section {
        margin-top: 0;
        margin-bottom: -.25vw;
        font-size: 4vw;
        text-align: center;
        font-family: money;
        position: relative;
        z-index: 1; }
      .container-fluid .upcoming .surroundUpcoming span {
        font-family: "Didact Gothic", sans-serif;
        font-size: 1.25vw;
        font-style: italic; }
    .container-fluid .upcoming .eventHomePage {
      width: 100%;
      margin: auto;
      overflow: auto;
      white-space: nowrap;
      height: 100%;
      display: inline-block; }
    .container-fluid .upcoming .afterDate {
      width: 47vw;
      margin-top: 2vw;
      margin-bottom: -2vh; }
    .container-fluid .upcoming .eventname {
      color: #c67b40;
      text-decoration: underline;
      font-family: "Rouge Script", cursive;
      font-size: 3vw; }
    .container-fluid .upcoming .event1 {
      display: inline-block;
      width: 100vw;
      height: 70%;
      font-family: "Didact Gothic", sans-serif;
      font-size: 1.5vw;
      margin-right: 3.5vw;
      margin-left: 3.5vw;
      z-index: 2; }
      .container-fluid .upcoming .event1:hover {
        cursor: pointer; }
      .container-fluid .upcoming .event1 .descript {
        font-size: 1.5vw;
        width: 47vw;
        height: 5vw;
        margin: 0;
        white-space: pre-line;
        color: #173547; }
        .container-fluid .upcoming .event1 .descript p {
          margin: 0; }
      .container-fluid .upcoming .event1 .seeFull {
        font-size: 1.5vw;
        font-family: money;
        text-decoration: none;
        float: left;
        margin-right: 2vw;
        margin-top: 2vw;
        position: relative; }
        @media (max-width: 475px) {
          .container-fluid .upcoming .event1 .seeFull {
            bottom: 2.5vw;
            float: left;
            font-size: 1.0vw; } }
    .container-fluid .upcoming .picHolder0 {
      width: 48vw;
      height: 100%;
      margin-right: 4vw;
      background-size: cover;
      float: right;
      background-image: url("../img/resized/landscape/Detroit Opera House 2.jpg"); }
    .container-fluid .upcoming .picHolder1 {
      width: 48vw;
      height: 100%;
      margin-right: 4vw;
      background-size: cover;
      float: right;
      background-image: url("../img/resized/w900h600/pizza.png"); }
    .container-fluid .upcoming .picHolder2 {
      width: 48vw;
      height: 100%;
      margin-right: 4vw;
      background-size: cover;
      float: right;
      background-image: url("../img/resized/w900h600/flipped.png"); }
  .container-fluid .mediaSign {
    width: 100vw;
    height: 53.25vh;
    background-image: url("../img/nikkiNoSmile1fit.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center 32vh; }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
      .container-fluid .mediaSign {
        background-attachment: inherit;
        height: 32vh; } }
    .container-fluid .mediaSign .section2 {
      margin: 0;
      padding-top: 10%;
      padding-right: 50%;
      color: white;
      font-size: 36px;
      text-align: center;
      font-family: money; }
      .container-fluid .mediaSign .section2 a {
        text-decoration: none;
        color: white; }
  .container-fluid .eventsPage {
    width: 100%;
    animation: showDivs 1s; }
    .container-fluid .eventsPage .fancyName {
      font-family: "Rouge Script", cursive;
      color: #c67b40; }
    .container-fluid .eventsPage a {
      color: black;
      text-decoration: none; }
    .container-fluid .eventsPage .perfromancePic {
      width: 100%;
      height: 500px;
      border-top: #dee0e0 solid 1px;
      border-bottom: black solid 1px;
      background-image: url("/img/performance3.jpg");
      background-size: cover;
      background-position: center;
      z-index: 5; }
      @media (max-width: 610px) {
        .container-fluid .eventsPage .perfromancePic {
          background-position: 45% 50%; } }
      @media (max-width: 490px) {
        .container-fluid .eventsPage .perfromancePic {
          background-position: 40% 50%; } }
    .container-fluid .eventsPage .mapHolder {
      /*float:right;*/
      width: 50%;
      height: 0%;
      bottom: 0;
      margin: 0; }
      .container-fluid .eventsPage .mapHolder #map {
        margin: 0;
        height: 0;
        width: 50vw; }
    .container-fluid .eventsPage .eventHolder {
      width: 100%; }
      .container-fluid .eventsPage .eventHolder .section {
        font-size: 65px;
        text-align: center;
        font-family: "Rouge Script", cursive;
        color: #9B0423;
        position: absolute;
        z-index: 15;
        width: 50%;
        background: rgba(233, 234, 234, 0.8);
        margin-top: -460px;
        right: 0%; }
      .container-fluid .eventsPage .eventHolder .under {
        overflow: scroll;
        height: 380px;
        position: absolute;
        width: 50vw;
        margin-top: -389px;
        background: rgba(233, 234, 234, 0.8);
        right: 0%;
        text-align: center; }
        .container-fluid .eventsPage .eventHolder .under span {
          font-family: "Didact Gothic", sans-serif;
          font-style: italic; }
      .container-fluid .eventsPage .eventHolder .eventsDiv {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: "Didact Gothic", sans-serif;
        padding: 0;
        width: 50%;
        height: 150px; }
        .container-fluid .eventsPage .eventHolder .eventsDiv:hover {
          color: #9B0423;
          cursor: pointer; }
  .container-fluid .thisEventPage {
    width: 100vw;
    height: 1000px; }
    .container-fluid .thisEventPage .pic1Holder {
      width: 100vw; }
      .container-fluid .thisEventPage .pic1Holder a {
        color: black;
        text-decoration: none; }
      .container-fluid .thisEventPage .pic1Holder .Pic1 {
        width: 100vw;
        height: 35vw;
        background-image: url("/img/operahouse.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 5; }
    .container-fluid .thisEventPage #thisEventHold {
      width: 95vw;
      margin-top: 3vh; }
      .container-fluid .thisEventPage #thisEventHold .mapHolder {
        float: left;
        width: 50%;
        height: 100%; }
        .container-fluid .thisEventPage #thisEventHold .mapHolder #map {
          margin: auto;
          height: 29vw;
          width: 50vw; }
      .container-fluid .thisEventPage #thisEventHold .eventDiv {
        margin: auto;
        float: left;
        font-family: money;
        padding-left: 2%;
        width: 50%;
        height: 150px; }
      .container-fluid .thisEventPage #thisEventHold .eventHolder {
        width: 100%;
        float: left; }
        .container-fluid .thisEventPage #thisEventHold .eventHolder .section {
          font-size: 50px;
          text-align: center;
          font-family: money;
          color: white;
          position: fixed;
          z-index: 15;
          width: 100%;
          margin: auto; }
        .container-fluid .thisEventPage #thisEventHold .eventHolder .under {
          margin-top: 320px; }
  .container-fluid .mediaContainer {
    width: 100vw;
    width: 80vw;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    font-family: money; }
    .container-fluid .mediaContainer .downward {
      position: absolute;
      width: 15vw;
      height: 100vw;
      background-color: #9B0423;
      margin-top: -400px;
      margin-left: 32.5vw;
      z-index: -999;
      transform: rotate(-90deg); }
    .container-fluid .mediaContainer h4 {
      font-size: 200%;
      margin-top: -50px; }
      @media (max-width: 590px) {
        .container-fluid .mediaContainer h4 {
          font-size: 165%;
          margin-top: -40px; } }
      @media (max-width: 490px) {
        .container-fluid .mediaContainer h4 {
          font-size: 135%;
          margin-top: -30px; } }
      @media (max-width: 404px) {
        .container-fluid .mediaContainer h4 {
          font-size: 80%;
          margin-top: -20px; } }
@keyframes showDivs {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .container-fluid .mediaContainer .audioDiv {
      text-align: center;
      color: black;
      float: left;
      border: solid 3px black;
      height: 20vw;
      width: 20vw;
      border-radius: 10vw;
      background-image: url("/img/NikkiSing.jpg");
      background-position: fixed;
      background-size: cover;
      z-index: 1;
      animation: showDivs 1s; }
      .container-fluid .mediaContainer .audioDiv:hover {
        border: solid 5px black;
        cursor: pointer;
        padding: 5px; }
    .container-fluid .mediaContainer .photoDiv {
      text-align: center;
      color: black;
      float: right;
      border: solid 3px #c67b40;
      height: 20vw;
      width: 20vw;
      border-radius: 10vw;
      background-image: url("/img/NikkiWindow2square.jpg");
      background-size: cover;
      animation: showDivs 1s; }
      .container-fluid .mediaContainer .photoDiv:hover {
        border: solid 5px #c67b40;
        cursor: pointer;
        padding: 5px; }
    .container-fluid .mediaContainer .videoDiv {
      text-align: center;
      color: black;
      margin: auto;
      border: solid 3px grey;
      height: 20vw;
      width: 20vw;
      border-radius: 10vw;
      background-image: url("/img/nikkiDecember1.jpg");
      background-size: cover;
      animation: showDivs 1s; }
      .container-fluid .mediaContainer .videoDiv:hover {
        border: solid 5px grey;
        cursor: pointer;
        padding: 5px; }

.audioBox {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -225px;
  margin-bottom: 50px;
  animation: showDivs 1s;
  position: relative;
  z-index: 1;
  font-family: money; }

.mediaBoxHide {
  display: none; }

.videoBox {
  font-family: money;
  text-align: center;
  width: 60vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -225px;
  margin-bottom: 50px;
  animation: showDivs 1s; }
  .videoBox #ytplayer {
    font-family: "Didact Gothic", sans-serif;
    width: 60vw;
    height: 25vw;
    position: relative;
    padding-top: 2vw;
    margin: 0 auto; }
    .videoBox #ytplayer a {
      color: black;
      text-decoration: none;
      font-size: 1vw; }
      .videoBox #ytplayer a .vidRep {
        width: 25vw;
        height: 20vw;
        float: left;
        border: solid 2px #9B0423;
        padding-top: 3%;
        background-image: url("../img/resized/w900h600/flipped.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative; }
        @media (max-width: 375px) {
          .videoBox #ytplayer a .vidRep {
            padding-top: 0; } }
        .videoBox #ytplayer a .vidRep div {
          top: 20px;
          right: 20px;
          bottom: 20px;
          left: 20px;
          position: absolute;
          background: rgba(255, 255, 255, 0.7); }
        .videoBox #ytplayer a .vidRep h3 {
          margin-top: 50px; }
          @media (max-width: 900px) {
            .videoBox #ytplayer a .vidRep h3 {
              margin-top: 30px; } }
          @media (max-width: 640px) {
            .videoBox #ytplayer a .vidRep h3 {
              margin-top: 10px; } }
          @media (max-width: 492px) {
            .videoBox #ytplayer a .vidRep h3 {
              margin-top: 0;
              margin-bottom: 0; } }
          @media (max-width: 375px) {
            .videoBox #ytplayer a .vidRep h3 {
              margin-top: -10px;
              margin-bottom: -3px; } }
        @media (max-width: 695px) {
          .videoBox #ytplayer a .vidRep h5 {
            margin-top: 0;
            font-size: 150%; } }
        @media (max-width: 310px) {
          .videoBox #ytplayer a .vidRep h5 {
            margin-bottom: 0; } }
        @media (max-width: 575px) {
          .videoBox #ytplayer a .vidRep p {
            margin-bottom: 0; } }
        .videoBox #ytplayer a .vidRep .vidName {
          color: #9B0423;
          font-size: 2vw;
          margin-top: 3px; }
        .videoBox #ytplayer a .vidRep:hover {
          border: solid 4px grey;
          cursor: pointer; }
      .videoBox #ytplayer a .vidRep2 {
        width: 25vw;
        height: 20vw;
        float: right;
        border: solid 2px #9B0423;
        padding-top: 3%;
        background-image: url("../img/resized/w900h600/Screen Shot 2017-06-19 at 9.29.00 PM.png");
        background-size: cover;
        background-position: center right;
        background-repeat: no-repeat;
        position: relative; }
        @media (max-width: 375px) {
          .videoBox #ytplayer a .vidRep2 {
            padding-top: 0; } }
        .videoBox #ytplayer a .vidRep2 div {
          top: 20px;
          right: 20px;
          bottom: 20px;
          left: 20px;
          position: absolute;
          background: rgba(255, 255, 255, 0.7); }
        .videoBox #ytplayer a .vidRep2 h3 {
          margin-top: 50px; }
          @media (max-width: 900px) {
            .videoBox #ytplayer a .vidRep2 h3 {
              margin-top: 30px; } }
          @media (max-width: 640px) {
            .videoBox #ytplayer a .vidRep2 h3 {
              margin-top: 10px; } }
          @media (max-width: 492px) {
            .videoBox #ytplayer a .vidRep2 h3 {
              margin-top: 0;
              margin-bottom: 0; } }
          @media (max-width: 375px) {
            .videoBox #ytplayer a .vidRep2 h3 {
              margin-top: -10px;
              margin-bottom: -3px; } }
        @media (max-width: 695px) {
          .videoBox #ytplayer a .vidRep2 h5 {
            margin-top: 0;
            font-size: 150%; } }
        @media (max-width: 310px) {
          .videoBox #ytplayer a .vidRep2 h5 {
            margin-bottom: 0; } }
        @media (max-width: 575px) {
          .videoBox #ytplayer a .vidRep2 p {
            margin-bottom: 0; } }
        .videoBox #ytplayer a .vidRep2 .vidName {
          color: #9B0423;
          font-size: 2vw;
          margin-top: 3px; }
        .videoBox #ytplayer a .vidRep2:hover {
          border: solid 4px grey;
          cursor: pointer; }

.photoBox {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -225px;
  margin-bottom: 50px;
  animation: showDivs 3s;
  font-family: money;
  position: relative; }
  .photoBox .photoGallery1 {
    background-image: url("/img/resized/nikkiNoSmile.jpg");
    background-size: cover;
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    border-bottom: solid 4px #e9eaea; }
  .photoBox .photoGallery2 {
    display: inline-block;
    background-image: url("/img/resized/performance.jpg");
    background-position: fixed;
    background-size: cover;
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    border-top: solid 4px #e9eaea; }
  .photoBox .photoGallery3 {
    display: inline-block;
    background-image: url("/img/resized/400x500/ncutie.jpg");
    background-size: cover;
    width: 30vw;
    height: 30vw;
    float: right;
    position: relative; }
  .photoBox .photoGallery4 {
    background-image: url("/img/resized/400x500/window.jpg");
    background-size: cover;
    width: 30vw;
    height: 30vw;
    float: left;
    position: relative; }
  .photoBox .photoGallery5 {
    background-image: url("/img/resized/square500/sing.jpg");
    background-size: cover;
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    border-left: solid 4px #e9eaea;
    border-right: solid 4px #e9eaea; }

.boxHolder {
  background-color: #e9eaea; }

.downward {
  position: absolute;
  width: 15vw;
  height: 800px;
  background-color: #9B0423;
  margin-top: -50px;
  margin-left: 70vw;
  z-index: -999; }

.bioContain {
  width: 85vw;
  height: 750px;
  margin: 0 auto; }
  .bioContain h2 {
    font-family: "Didact Gothic", sans-serif; }
  .bioContain .bioHolder {
    margin-top: 1vw; }
    .bioContain .bioHolder .bioPic {
      float: left;
      width: 40vw;
      height: 40vw;
      margin-right: 1vw;
      border: solid 4px #9B0423;
      padding: 5px;
      position: relative;
      z-index: 1; }
      .bioContain .bioHolder .bioPic div {
        border: solid black 1px;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        background-image: url("/img/resized/400x500/smiles.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 2; }
    .bioContain .bioHolder .bioP {
      margin-top: 5vw;
      font-family: "Didact Gothic", sans-serif;
      margin-bottom: 0;
      color: black;
      background: rgba(233, 234, 234, 0.7); }
    .bioContain .bioHolder .buttonHide {
      display: none; }
    .bioContain .bioHolder .bioButton {
      border: solid 1px black;
      margin-bottom: 0;
      color: black;
      display: inline-block;
      animation: showDivs 2s; }
      .bioContain .bioHolder .bioButton p {
        margin-bottom: 0; }
      .bioContain .bioHolder .bioButton a {
        color: black;
        text-decoration: none; }
        .bioContain .bioHolder .bioButton a:hover {
          color: white; }
      .bioContain .bioHolder .bioButton:hover {
        background-color: black;
        border: solid 1px black;
        color: white; }
    .bioContain .bioHolder .docs {
      font-family: money;
      font-size: 24px;
      width: 100%;
      float: right;
      text-align: center;
      margin-top: 6vw; }
      .bioContain .bioHolder .docs #main {
        width: 285px;
        margin: 0 auto;
        border: solid 0.25px #76767a; }
        .bioContain .bioHolder .docs #main:hover {
          color: white;
          background-color: black;
          border: 1px solid black;
          cursor: pointer; }
      .bioContain .bioHolder .docs img {
        padding: 0 6vw; }
      .bioContain .bioHolder .docs p {
        width: 130px; }

.sideways {
  position: absolute;
  width: 10vw;
  height: 100vw;
  background-color: #9B0423;
  margin-top: -35vw;
  margin-left: 45vw;
  z-index: -999;
  transform: rotate(-90deg); }

.formContainer {
  width: 100vw;
  margin: 0 auto;
  height: 40vw; }
  .formContainer .stuffholder {
    width: 63vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    height: 50vw; }
    .formContainer .stuffholder p {
      text-align: center;
      font-family: money; }
    .formContainer .stuffholder .formholder {
      float: left;
      width: 30vw;
      height: 30vw;
      background-color: white;
      border: solid 1px #9B0423;
      position: absolute; }
      .formContainer .stuffholder .formholder form {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        background-color: rgba(233, 235, 235, 0.5);
        position: absolute;
        text-align: center; }
        .formContainer .stuffholder .formholder form input {
          border: solid #898686 1px;
          text-align: center; }
    .formContainer .stuffholder .contactPic {
      background-image: url("../img/resized/square500/laugh.jpg");
      background-size: cover;
      width: 30vw;
      height: 30vw;
      float: right; }

.manageContainer {
  border: solid 1px black;
  width: 95vw;
  height: 80vh;
  margin: 0 auto; }
  .manageContainer .form1 {
    float: right;
    width: 50%;
    text-align: center; }
  .manageContainer .form2 {
    text-align: center;
    float: left;
    width: 50%; }
    .manageContainer .form2 h1 {
      margin-top: 0; }

.deleteContainer {
  width: 95vw;
  height: 50vw;
  margin: 0 auto; }
  .deleteContainer .form3 {
    float: right;
    width: 50%;
    text-align: center; }
  .deleteContainer .form4 {
    text-align: center;
    float: left;
    width: 50%; }
    .deleteContainer .form4 h1 {
      margin-top: 0; }

.login {
  margin: auto;
  width: 40vw;
  text-align: center; }
  .login input {
    text-align: center; }

.sentContainer {
  text-align: center; }
  .sentContainer img {
    width: 30%; }

/*# sourceMappingURL=style.css.map */
