$text-color:white;
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Great+Vibes|Rouge+Script');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Yantramanav:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
/*font-family: 'Great Vibes', cursive;
font-family: 'Rouge Script', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Yantramanav', sans-serif;
font-family: 'Didact Gothic', sans-serif;*/
@font-face{
  font-family: money;
  src:url('../fonts/Montserrat-Thin.ttf');
}
$font: money;
// $font:'Montserrat', sans-serif;
$fancy:'Didact Gothic', sans-serif;
$fancy2:'Rouge Script', cursive;
$accent:#9B0423;
$gold:#c67b40;
$grey:#e9eaea;
$light-grey:#efefef;
*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
  body{
    height: 100%;
  }
}
.hide{
  display: none;
}
.icon{
  width:3vw;
}

.lineThrough{
  background-color: $accent;
  position:relative;
  height: 1px;
  z-index: 0;
}

.footer{
  // @media only screen
  // and (min-device-width : 320px)
  // and (max-device-width : 666px){
  //   height: 3vh;
  // }
  // @media (orientation: landscape) and (max-device-width : 667px){
  //   height: 9vh;
  // }
  height: 2.7rem;
  margin-top: -2.7rem;
  background-color: $grey;
  width: 100vw;
  z-index: 2;
  position: relative;
  clear:both;
  .iconCenter{
    // @media only screen
    // and (min-device-width : 320px)
    // and (max-device-width : 666px){
    // padding-top:0;
    // }
    // @media (orientation: landscape) and (max-device-width : 667px){
    //
    // }
    padding-top: 0;
    width:100vw;
    margin:0 auto;
    text-align: center;
    font-family: $font;
    .footerIcons{
      padding-top:.5rem;
      width: 1.5rem;
      height: 1.5rem;
      margin:auto;
    }
    p{
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 666px){
      margin-bottom: 0;
      font-size: 10px;
      }
      @media (orientation: landscape) and (max-device-width : 667px){

      }
      @media(max-width: 315px){
        font-size: .5rem;
      }
      font-size: .9rem;
      width:100vw;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
@keyframes showDivs{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
body{

  margin: 0;
  padding:0;
  animation: showDivs 1s;
  ng-scope{
    background-color: $grey;
  }
  @keyframes nav-slide {
    from{
      padding:0 0;
    }
    to{
      padding:0 4vw;
    }
  }

// nav for mobile


    .mobileNav{
      @media only screen
      and (min-device-width : 668px)
      {
        display: none;

      }
      text-align: center;
      // border-radius: 57px;
      width:60px;
      // background-color: rgba(212, 214, 214,.3);
      position: absolute;
      font-size: 40px;
      color:black;
      z-index: 19;
      margin-top: 0px;
  }
  .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      background-color: $light-grey;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      text-align:center;
  }

  .sidenav a {
     font-family: $fancy;
      margin-top: 20px;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 40px;
      color: #818181;
      display: block;
      transition: 0.3s;

  }

  .sidenav a:hover{
      color: #f1f1f1;
  }

  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 50px;
      margin-left: 50px;
  }
  // large screen nav
    #navTable{
      @media only screen
      and (min-device-width : 300px)
      and (max-device-width : 667px){
        display: none;
      }
      @media(max-width: 607px){
        height: 28px;
      }
      text-align: center;
      background-color: $grey;
      border-top: 1px solid #dee0e0;
      a{
        @media (max-width: 607px){
          font-size: 15px;
        }
        @media(max-width: 462px){
          font-size: 12px;
        }
        @media(max-width: 375px){
          font-size: 9px;
        }
        @media(max-width: 288px){
          font-size: .5rem;
        }

        color:black;
        font-size: 20px;
        text-decoration: none;
        z-index: 11;
        &:hover{
          color:white;
          background-color: rgba(212, 214, 214,.2);
          border-radius: 4px;
        }
        &:before{
          background-color:$grey;
        }
      }
      .pageNotify{
        display:inline;
        font-family: $font;
        padding:0 4vw;
        border-radius: 4px;
        a{
          color:$accent;
        }
      }
      .navSelect{
        @media(max-width: 288px){
          padding: 0 .25em;
        }
        font-family: $font;
         display: inline;
         padding:0 4vw;
      }
    padding:0;
      list-style: none;

      width: 100%;
      height: 32px;
      margin: auto;
      z-index: 11;
    }


}

.container-fluid{
  // @media only screen
  // and (min-device-width : 320px)
  // and (max-device-width : 666px){
  //   height:100vh;
  // }
  // @media (orientation: landscape) and (max-device-width : 667px){
  // height: 300px;
  // position:absolute;
  // background-color:rgba(233, 234, 234,.4);
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 0px;
  // width:100%;
  // font-family: 'open sans';
  // color:black;
  // height: 95px;
  // }
  width: 100%;
  min-height: 100%;
  padding:0 !important;
  .doubleHolder{
    // @media only screen
    // and (min-device-width : 300px)
    // and (max-device-width : 666px){
    //   height: 100vh;
    // }
    // @media (orientation: landscape) and (max-device-width : 667px){
    //
    // }
    // overflow: auto;
    padding-bottom: 2.7rem;
  .title{
    @media only screen
    and (min-device-width : 300px)
    and (max-device-width : 599px){

    }
    @media (orientation: landscape) and (max-device-width : 600px){

    }
     @media (max-width : 862px){
     letter-spacing: 1rem;
     }
     @media (max-width :705px){
     letter-spacing:0;
     }
     @media (max-width :530px){
     letter-spacing:0;
     height: 6.5rem;
     }
     @media (max-width :415px){
     letter-spacing:0;
     height: 5rem;
     }
     @media (max-width :310px){
     letter-spacing:0;
     height: 4rem;
     }



    height: 125px;
    letter-spacing:2rem;
    text-align: center;
    font-family: $font;
    color:black;
    background-color: $light-grey;
    .nospace{
      letter-spacing: 0 !important;
    }
    #soprano{
      font-size: 1.5em;
      margin-top: -13px;
      margin-bottom: 10px;
    }
    .accent{
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 667px){

      }
      color:$accent;
    }
    .theN{
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 667px){
        // font-family: 'open sans';
        // color:black;
      }
      font-family: $font;
    }

    h1{

      @media (max-width: 530px){
        font-size: 4rem;
       }
      @media (max-width: 415px){
        font-size: 3rem;
       }
      @media (max-width: 310px){
        font-size: 2rem;
       }


      font-size: 5rem;
      margin:0;

    }
  }

  .top{
    @media only screen
    and (min-device-width : 300px)
    and (max-device-width : 666px){
      background-size: cover;
      background-attachment: local;
      height: 40vh;
    }
    @media (orientation: landscape) and (max-device-width : 736px){
    background-position: 0 -100px;
    background-size: cover;
    height:100vh;
    }
    @media(max-width: 1280px){
      background-position: 0 -25px;
    }
    @media(max-width: 910px){
      background-position: 0 0px;
    }
    width: 100vw;
    height: 600px;
    margin: 0;
    background-image: url('../img/resized/window.jpg');
    background-attachment: fixed;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .upcoming{
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 667px){
      height: auto;
      // height: 15rem;
      background-color: $light-grey;
      // background-color: #222222;
    }
    @media (orientation: landscape) and (max-device-width : 736px){
    height:20rem;
    }
    @media (max-width: 480px){
      height: 15rem;
      // height: 20rem;
    }

    width: 100vw;
    height: 20rem;
    margin: 0;
    background-color: $light-grey;
    position:relative;

    .surroundUpcoming{
      @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 667px){
      background-color:$light-grey;
      // background-color: #222222;
      color:#222222;
    }
      width:100%;
      margin:0 auto;
      padding-bottom: 0;
      background-color: $light-grey;
      text-align: center;
      a{
        color:#173547;
        text-decoration: none;
      }
    .section{
      @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 667px){
      margin-bottom:-1.5vw;
      font-size: 1.5rem;
      background-color: $light-grey;
      // background-color: #222222;
      border-color: 2px solid #222222;
      color:#222222;
    }
     @media(max-width: 379px){
       font-size: 2.5rem;
     }
      display: inline;
      margin-top: 0;
      margin-bottom: .5vw;
      font-size: 3rem;
      text-align: center;
      font-family: $font;
      position: relative;
      z-index: 1;
    }
    span{
      @media only screen
      and (min-device-width : 667px)
      {
        display: none;

      }
      font-family: $fancy;
      font-size: 2vw;
      font-style: italic;
    }
  }

    #blinkingArrow{
      @media(max-width: 480px){
        bottom:1rem;
        top:auto;
      }
      position: absolute;
      // padding:.5rem;
      left: 1rem;
      top:0;
      font-size: 1rem;
      font-family: $fancy;
     }
    #blinkingArrowLeft{
      @media(max-width: 480px){
        bottom:1rem;
        top:auto;
      }
      position: absolute;
      // padding:.5rem;
      right:1rem;
      top:0;
      font-size: 1rem;
      font-family: $fancy;
     }

    .eventHomePage{

      width:100%;
      margin: auto;
      overflow-x:hidden;
      white-space:nowrap;
      height: 83%;
      display: inline-block;
      .arrowRight{
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 667px){
          display: block;
          margin-left: 75%;
          margin-top: -24%;
          position: absolute;
          z-index: 2;
          img{
            width:60px;
            height: 60px;
          }
        }
        display: none;

      }

    .event1{
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 667px){
        // text-align: center;
        margin:0;
      }
      display: inline-block;
      width:100vw;
      height: 95%;
      font-family: $fancy;
      font-size: 1.5vw;
      margin-right:0;
      margin-left:0;
      z-index: 2;
      &:hover{
        cursor: pointer;
      }

      .eventData{
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 667px){
          float: left;
          width: 100vw;
        }
        @media(max-width: 480px){
          width:100vw;
          text-align: center;
        }
        float: left;
        // left:5rem;
        width: 45vw;
      .afterDate{
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 667px){
          width: 100%;
          font-family: 'Open Sans';
          font-size: 3vw;
          // text-align: center;
          margin-top: 4px;
          margin-bottom: -1.5vh;
          color:#222222;
        }
        @media(max-width: 480px){
          text-align: center;
          margin-left:auto;
          margin-right: auto;
          font-size: 2rem;
        }
        font-size: 2rem;
        width:47vw;
        margin-left: 1rem;
        margin-top: 2vw;
        margin-bottom: -2vh;
      }
      .eventname{

        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 667px){
          width: 100%;
          margin-top: 5px;
          margin-left: 0;
          margin-bottom: -.5rem;
          font-size: 5vw;
          // text-align: center;
          font-family: $fancy;
        }
        color:$gold;
        margin-left: 1rem;
        margin-bottom: -1rem;
        white-space: pre-line;
        font-family: $fancy;
        font-size: 1.5rem;
      }
      .descript{
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 667px){
          width: 90%;
          font-size: 1rem;
          color:#222222;
          margin:0;
        }
        @media(max-width:480px){
          width: 95vw;
          margin:0;
        }
        margin-left: 1rem;
        font-size: 1.25rem;
        width:45vw;
        height: 5vw;
        // margin:0;
        white-space: pre-line;
        color:#173547;
        // font-family: money;
        p{
          margin:0;
        }
      }
      .seeEvents{
        @media(max-width:670px){
          display: none;
        }
        margin-left: 1rem;
        position: absolute;
        bottom:1rem;
      }
     }
     .picHolder0{
       @media only screen
       and (min-device-width : 320px)
       and (max-device-width : 667px){

         display: none;
       }
       @media(max-width:480px){
         display: none;
       }
       width:48vw;
       height: 100%;
       margin-right:4vw;
       background-size: cover;
       float: right;
       background-image: url('../img/resized/landscape/Detroit Opera House 2.jpg')
     }
     .picHolder1{
       @media only screen
       and (min-device-width : 320px)
       and (max-device-width : 667px){

         display: none;
       }
       @media (orientation: landscape) and (max-device-width : 736px){
       background-position: right;
       }
       @media(max-width:480px){
         display: none;
       }
       width:48vw;
       height: 100%;
       margin-right:4vw;
       background-size: cover;
       float: right;
       background-image: url('../img/resized/w900h600/pizza.png')
     }
     .picHolder2{
       @media only screen
       and (min-device-width : 320px)
       and (max-device-width : 667px){

         display: none;
       }
       @media(max-width:480px){
         display: none;
       }
       width:48vw;
       height: 100%;
       margin-right:4vw;
       background-size: cover;
       float: right;
       background-image: url('../img/resized/w900h600/flipped.png')
     }

    }
  }

}
  .mediaSign{
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 666px) {
      background-size: cover;
      background-attachment: initial;
      background-position: bottom;
      height: 35vh;
    }
    @media (orientation: landscape) and (max-device-width : 736px){
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    }
    @media(max-width:480px){

    }

    // position:absolute;
    width:100vw;
    height: 22rem;
    // height: 53.25vh;
    background-image: url('../img/nikkiNoSmile1fit.jpg');
    // background-attachment: fixed;
    background-size: cover;
    // background-position:0 7rem;
    // background-position:center 32vh;
    .section2{
      a{
        font-size: 3rem;
        font-family: $font;
        text-decoration: none;
        color:white;
        &:hover{
          color:red;
        }
      }
      margin:0;
      padding-top: 10%;
      padding-right: 50%;
      color:$text-color;
      font-size: 36px;
      text-align: center;
      font-family: $font;
    }

   }
  }
  // events page
  .eventsPage{
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 666px) {
      // height: 86vh;
      // overflow:auto;
    }
    @media(orientation:landscape)and (max-device-width : 736px) {
      // height: 59vh;
      // overflow:auto;
    }
    background-color: $grey;
    width: 100%;
    animation: showDivs 1s;
    min-height: 100%;
    // overflow:auto;
    a{
      color:black;
      text-decoration: none;
    }


    .eventHolder{
      height:100%;
      width: 100%;
      .section{
        @media only screen
        and (min-device-width : 300px)
        and (max-device-width : 666px){
          margin-top: 0vw;
          width:100vw;
          // right:4vw;
          left: 0vw;
          font-size: 2.75rem;
        }
        @media (max-device-width : 736px) and (orientation: landscape){
          left:0;
        }
        @media only screen
        and (min-device-width:300px) and (orientation: landscape)
        and (max-device-width:666px) and (orientation: landscape){
          display: none;
        }
        @media(max-width: 610px){
          margin-top: 0vw;
          width: 100vw;
          left:0vw;
          font-size: 2.75rem;
        }
        display: none;
        font-size: 65px;
        text-align: center;
        font-family: $fancy2;
        color: $accent;
        position: relative;
        z-index: 15;
        width:50%;
        background: rgba(233, 234, 234,.8);
        // margin-left: auto;
        // margin-right: auto;
        margin-top: -460px;
        right:0%;
      }
      .perfromancePic{
        // @media only screen
        // and (min-device-width : 300px)
        // and (max-device-width : 666px) {
        //   height: 20vh;
        // }
        //
        // @media (orientation: landscape) and (max-device-width : 732px){
        // background-image: none;
        // border:none;
        // }
        // @media(max-width: 610px){
        //   height: 20vh;
        //   background-position: 45% 50%;
        // }
        // @media(max-width: 490px){
        //   background-position: 40% 50%;
        // }
        @media(max-width: 600px){
          background-image: none;
          justify-content: center;
          width:100%;

        }
        display: flex;
        justify-content: flex-end;
        width: 100%;
        // height: 68vh;
        // height: 74.85125vh;
        border-top:#dee0e0 solid 1px;
        border-bottom: black solid 1px;
        background-image: url('/img/performance3.jpg');
        background-size: cover;
        background-position: center;
        z-index: 5;
        .under{
          // @media only screen
          // and (min-device-width : 320px)
          // and (max-device-width : 666px){
          //   margin-top: 12rem;
          //   width:100vw;
          //   height: 300%;
          //   left: 0vw;
          // }
          // @media(orientation:landscape)and (max-device-width : 736px) {
          //   position: absolute;
          //   // margin-top:-.5rem;
          //   width:100vw;
          //   height: 300%;
          // }
          // @media(max-width: 610px){
          //   // margin-top: 9rem;
          //   width:100vw;
          //   height: 300%;
          //   left: 0vw;
          //   position: relative;
          // }
          @media(max-width: 600px){
            width:100%;
          }
          // position:relative;
          overflow: scroll;
          // float:right;
          // margin-left: 30rem;
          // margin-top: -40rem;
          width:50vw;
          // height:100%;
          background: rgba(233, 234, 234,.8);
          text-align: center;

          .portraitEvent{
            @media(orientation:landscape)and (max-device-width : 667px) {
              display: block;
              font-family: $fancy2;
              color: $accent;
              font-size: 55px;
            }
            display:none;
          }
          span{
            font-family: $fancy;
            // font-style: italic;
          }
          h3{
            @media only screen
            and (min-device-width : 300px)
            and (max-device-width : 667px) {
              font-size: 1.5rem;
              font-family: $fancy;
              // margin-bottom: 1rem;
            }
            @media(max-width: 330px){
              font-size: 1rem;
            }
            font-family: $fancy;
            color:$gold;
            margin-bottom: 1rem;
          }
          h4{
            @media only screen
            and (min-device-width : 300px)
            and (max-device-width : 667px){
              font-size: 1rem;
              font-family: $fancy;
              margin-bottom: 0rem;
              // margin-top: 1rem;
            }
            @media(max-width: 295px){
              font-size: .75rem;
            }

            margin-bottom: .5rem;
            margin-top:-1rem;
          }
          p{
            @media only screen
            and (min-device-width : 300px)
            and (max-device-width : 667px) {
              font-size: 1rem;
            }
            @media(max-width: 489px){
              font-size: 1rem;
            }
            @media(max-width: 375px){
              font-size: 1rem;
            }
           }
           .eventsDiv{
             @media only screen
             and (min-device-width : 320px)
             and (max-device-width : 667px) {
               width:95vw;
               font-size: 16px;
               margin-top:2rem;
               margin-bottom: 3rem;
             }

             margin-left: auto;
             margin-right: auto;
             text-align: center;
             font-family: $fancy;
             padding:0;
             width:80%;
             height: 150px;
             &:hover{
               color: $accent;
               cursor: pointer;
             }
           }
        }
      }

      // .mapHolder{
      //   /*float:right;*/
      //   width: 50%;
      //   height: 0%;
      //   bottom: 0;
      //   margin: 0;
      //   #map{
      //     margin: 0;
      //     height: 0;
      //     width:50vw;
      //
      //   }
      // }

   }
  }
  // thisEventPage

  .thisEventPage{
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 667px){
      height: 700px;
    }
    width: 100vw;
    height: 1000px;
    font-family: $fancy;
    color:black;
    .pic1Holder{
      a{
        font-family: $fancy;
        color:black;
        text-decoration: none;
      }
      // position: relative;
      width: 100vw;
      .Pic1{
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 666px){
         height: 35vw;
        }
        @media(orientation:landscape)and (max-device-width : 667px) {
          display: none;
        }
        width: 100vw;
        height: 20vw;
        background-image: url('/img/operahouse.jpg');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        z-index: 5;
      }
  }
  #thisEventHold{
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 667px){
      margin-top: -15px;
    }
    width: 95vw;
    margin-top: 3vh;
     .mapHolder{
       @media only screen
       and (min-device-width : 320px)
       and (max-device-width : 667px){
         width:100%;
         margin-left: auto;
         margin-right: auto;
         margin-top: 2rem;
       }
        float:right;
        width: 50%;
        height: 100%;
        #map{
          @media only screen
          and (min-device-width : 320px)
          and (max-device-width : 667px){
            width:70vw;
            height:200px;
            margin:0 auto;
          }
          margin: auto;
          height:29vw;
          width:50vw;

        }
      }
      .eventDiv{
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 667px){
          width:95vw;
          text-align: center;
          margin:0 auto;
          height: 220px;
        }

        margin: auto;
        float: left;
        font-family: $fancy;
        padding-left:2%;
        width:48%;
        height: 150px;
        h3{
          color:$gold;
        }
        a{
          color:black;
          text-decoration: none;
        p{
          @media only screen
          and (min-device-width : 320px)
          and (max-device-width : 667px){
            border:solid 1px black;
            width:160px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
          }
          border:solid 1px black;
          width:160px;
          margin-top: 20px;
          text-align: center;
          &:hover{
            background-color: black;
            color:white;
          }
        }
       }
      }
    //   .eventHolder{
    //     width: 100%;
    //     float: left;
     //
    //     .section{
    //       font-size: 50px;
    //       text-align: center;
    //       font-family: $font;
    //       color: white;
    //       position: fixed;
    //       z-index: 15;
    //       width:100%;
    //       margin: auto;
    //     }
    //     .under{
    //       margin-top: 320px;
    //     }
     //
    //  }
    }

}
// media page

.mediaContainer{
  // @media only screen
  // and (min-device-width : 320px)
  // and (max-device-width : 667px) {
  // margin-top: -100px;
  // }
  width:100vw;
  margin-bottom: 1rem;
  // height: 800px;
  margin-left:auto;
  margin-right: auto;
  // padding-top: 10%;
  font-family: $font;
  h1{
    text-align: center;
    font-family: $font;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  // .downward{
  //   @media only screen
  //   and (min-device-width : 320px)
  //   and (max-device-width : 667px) {
  //   width:100vw;
  //   height: 75px;
  //   margin-top: 0px;
  //
  //   }
  //   // position:absolute;
  //   width:100vw;
  //   height: 150px;
  //   background-color: $accent;
  //   margin:0;
  //   // margin-left: 34.17vw;
  //   z-index: -999;
  //
  // }

  p{
    // @media only screen
    // and (min-device-width : 320px)
    // and (max-device-width : 667px) {
    // font-size: 10px;
    // width:50px;
    // margin-top: 45px;
    // }
    @media(max-width: 575px){
      margin-top: 30px;
      background-color: rgba(233, 234, 234,0);
      font-size: 100%;
    }
    @media(max-width: 320px){
      margin-top: 15px;
      background-color: rgba(233, 234, 234,0);
      font-size: 100%;
    }
    position: absolute;

    width:80px;
    font-family: $fancy;
    font-size: 150%;
    margin-top: 70px;
    background-color: rgba(233, 234, 234,.6);
  }
  #mediaLable{
    color:white;
  }

  @keyframes showDivs{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  .mediaHolder{
    width:80vw;
    margin:0 auto;
    // height: 100%;
    display: flex;
    justify-content: space-around;
    // height: 100px;
  .audioDiv{
    // @media only screen
    // and (min-device-width : 320px)
    // and (max-device-width : 667px) {
    //   margin-top: 0px;
    //
    // }
    text-align: center;
    color: black;
    // float: left;
    border: solid 3px black;
    // padding:15px;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-image: url('/img/NikkiSing.jpg');
    background-position: fixed;
    background-size: cover;
    z-index: 1;
    animation: showDivs 1s;

    &:hover{
      cursor: pointer;
      opacity: .5;
    }
  }
  .photoDiv{
    // @media only screen
    // and (min-device-width : 320px)
    // and (max-device-width : 667px) {
    //   margin-top: 0px;
    //
    // }
    text-align: center;
    color: black;
    // float: right;
    border: solid 3px #c67b40;
    // padding:15px;
    height: 20vw;
    width: 20vw;
    border-radius: 10vw;
    background-image: url('/img/NikkiWindow2square.jpg');
    background-size: cover;
    animation: showDivs 1s;
    &:hover{
      cursor: pointer;
      opacity: .5;
    }
  }
  .videoDiv{
    // @media only screen
    // and (min-device-width : 320px)
    // and (max-device-width : 667px) {
    //   margin-top: 100px;
    //
    // }
    text-align: center;
    color: black;
    // margin: auto;
    border: solid 3px grey;
    // padding:15px;
    height: 20vw;
    width: 20vw;
    border-radius: 10vw;
    background-image: url('/img/nikkiDecember1.jpg');
    background-size: cover;
    animation: showDivs 1s;
    &:hover{
      cursor: pointer;
      opacity: .5;
    }
  }
}
 }


.audioBox{
  // @media only screen
  // and (min-device-width : 320px)
  // and (max-device-width : 667px) {
  // margin-top:550px;
  // }
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 235px;
  margin-bottom: 50px;
  animation: showDivs 1s;
  position: relative;
  z-index: 1;
  font-family: money;
}
.mediaBoxHide{
  display: none;
}

.videoBox{
  // @media only screen
  // and (min-device-width : 320px)
  // and (max-device-width : 667px) {
  // margin-top:550px;
  // }
  font-family: money;
  text-align: center;
  width: 62vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 235px;
  margin-bottom: 50px;
  animation: showDivs 1s;
  #ytplayer{
    font-family: $fancy;
    width: 60vw;
    height: 25vw;
    position: relative;
    padding-top: 2vw;
    margin:0 auto;
    a{
      color:black;
      text-decoration: none;
      font-size: 1vw;
      .vidRep{
        @media(max-width: 320px){
          padding-top: 0;
        }
        width: 25vw;
        height: 20vw;
        float: left;
        border: solid 2px $accent;
        // border-radius: 10vw;
        padding-top: 3%;
        background-image: url('../img/resized/w900h600/flipped.png');
        background-size: cover;
        background-repeat: no-repeat;
        position:relative;
        div{
          top:20px;
          right: 20px;
          bottom: 20px;
          left:20px;
          position: absolute;
          background: rgba(255, 255, 255,.7);
          &:hover{
            // background: rgba(233, 234, 234,.9);
          }
        }
        h3{
          @media(max-width: 900px){
          margin-top: 30px;
          }
          @media(max-width: 640px){
            margin-top:10px
          }
          margin-top: 50px;
          @media(max-width: 492px){
            margin-top: 0;
            margin-bottom: 0;
          }
          @media(max-width: 320px){
            margin-top: -10px;
            margin-bottom: -3px;
          }
        }
        h5{
          @media(max-width: 695px){
            margin-top: 0;
            font-size: 150%;
          }
          @media(max-width: 310px){
            margin-bottom: 0;
          }
        }
        p{
          @media(max-width: 575px){
            margin-bottom:0;
          }
        }
        .vidName{
          color:$accent;
          font-size: 2vw;
          margin-top: 3px;
        }
        &:hover{
          border: solid 4px grey;
          cursor: pointer;
        }
      }
      .vidRep2{
        @media(max-width: 320px){
          padding-top: 0;
        }
        width: 25vw;
        height: 20vw;
        float: right;
        border: solid 2px $accent;
        // border-radius: 10vw;
        padding-top: 3%;
        background-image: url('../img/resized/w900h600/Screen Shot 2017-06-19 at 9.29.00 PM.png');
        background-size: cover;
        background-position: center right;
        background-repeat: no-repeat;
        position:relative;
        div{
          top:20px;
          right: 20px;
          bottom: 20px;
          left:20px;
          position: absolute;
          background: rgba(255, 255, 255,.7);
          &:hover{
            // background: rgba(233, 234, 234,.9);
          }
        }
        h3{
          @media(max-width: 900px){
          margin-top: 30px;
          }
          @media(max-width: 640px){
            margin-top:10px
          }
          margin-top: 50px;
          @media(max-width: 492px){
            margin-top: 0;
            margin-bottom: 0;
          }
          @media(max-width: 320px){
            margin-top: -10px;
            margin-bottom: -3px;
          }
        }
        h5{
          @media(max-width: 695px){
            margin-top: 0;
            font-size: 150%;
          }
          @media(max-width: 310px){
            margin-bottom: 0;
          }
        }
        p{
          @media(max-width: 575px){
            margin-bottom:0;
          }
        }
        .vidName{
          color:$accent;
          font-size: 2vw;
          margin-top: 3px;
        }
        &:hover{
          border: solid 4px grey;
          cursor: pointer;
        }
      }

    }

  }
}
.photoBox{
  // @media only screen
  // and (min-device-width : 320px)
  // and (max-device-width : 667px) {
  // margin-top:550px;
  // height: 440px;
  // margin-bottom: 0px;
  // }
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 235px;
  margin-bottom: 50px;
  animation: showDivs 3s;
  font-family: $font;
  position: relative;
  .photoGallery1{
    background-image: url('/img/resized/nikkiNoSmile.jpg');
    background-size: cover;
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    position:relative;
    border-bottom: solid 4px #e9eaea;

  }
  .photoGallery2{
    display: inline-block;
    background-image: url('/img/resized/performance.jpg');
    background-position: fixed;
    background-size: cover;
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    border-top: solid 4px #e9eaea;
  }
  .photoGallery3{
    display: inline-block;
    background-image: url('/img/resized/400x500/ncutie.jpg');
    background-size: cover;
    width: 30vw;
    height: 30vw;
    float: right;
    position: relative;
  }
  .photoGallery4{
    background-image: url('/img/resized/400x500/window.jpg');
    background-size: cover;
    width: 30vw;
    height: 30vw;
    float: left;
    position: relative;
  }
  .photoGallery5{
    background-image: url('/img/resized/square500/sing.jpg');
    background-size: cover;
    width: 30vw;
    height: 30vw;
    margin:0 auto;
    position: relative;
    border-left: solid 4px #e9eaea;
    border-right: solid 4px #e9eaea;
  }
}
.boxHolder{
  // @media only screen
  // and (min-device-width : 320px)
  // and (max-device-width : 667px) {
  //   margin-top: -500px;
  //
  // }
  margin-top: 0rem;
  background-color: #e9eaea;
}
}
// bio page
// .downward{
//   @media only screen
//   and (min-device-width : 320px)
//   and (max-device-width : 667px){
//     display: none;
//   }
//   @media(orientation:landscape)and (max-device-width : 736px) {
//     height: 150vh;
//   }
//   @media(max-width: 550px){
//     display: none;
//   }
//   position:absolute;
//   width:15vw;
//   height: auto;
//   background-color: $accent;
//   margin-top:-50px;
//   margin-left: 70vw;
//   z-index: -999;
// }
.bioContain{
  // @media only screen
  // and (min-device-width : 320px)
  // and (max-device-width : 667px){
  // height: 150vh;
  // width: 100vw;
  // }
  // @media only screen
  // and (min-device-width : 668px) and (orientation: portrait)
  // and (max-device-width : 1224px)and (orientation: portrait){
  // height: 80vh;
  // width: 100vw;
  // }
  // @media(orientation:landscape)and (max-device-width : 736px) {
  //   height: 150vh;
  // }
  // @media only screen
  // and (min-device-width:300px) and (orientation: landscape)
  // and (max-device-width:667px) and (orientation: landscape){
  //   height:240vh;
  // }
  // @media only screen
  // and (min-device-width:737px) and (orientation: landscape)
  // and (max-device-width:1366px) and (orientation: landscape){
  //   height:84vh;
  // }
  // @media(max-width: 550px){
  //   height:150vh;
  // }
  // @media(max-width: 320px){
  //   height:170vh;
  // }
  // @media(max-width: 280px){
  //   height: 200vh;
  // }
  // @media(max-width: 235px){
  //   height: 300vh;
  // }
  width:85vw;
  height: auto;
  margin:0 auto;
  h2{
    font-family: $fancy;
  }
  .bioHolder{
    margin-top: 1vw;
    height: auto;
  .bioPic{
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 666px){
      width:200px;
      height: 200px;
      border: solid 1px $accent;
      float: right;
      margin-right: 0;
    }
    @media(orientation:landscape)and (max-device-width : 667px) {
      width:300px;
      height: 230px;
      border: solid 1px $accent;
      float: right;
      margin-right: 100px;
    }
    float:left;
    width: 40vw;
    height:40vw;
    margin-right: 1vw;
    border: solid 4px $accent;
    padding: 5px;
    position: relative;
    z-index: 1;
    div{
      @media only screen
      and (min-device-width : 664px)
      and (max-device-width : 665px){
      background-position: center top;
      background-size: contain;
      }
      @media(orientation:landscape)and (max-device-width : 666px) {
      background-position: center top;
      }
      border: solid black 1px;
      top:5px;
      right:5px;
      bottom: 5px;
      left:5px;
      background-image: url('/img/resized/400x500/smiles.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      z-index: 2;
    }
  }
  .bioP{
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 667px){
      background: rgba(233, 234, 234,.9);
      float:left;
    }
    // margin-left: 42vw;
    margin-top: 5vw;
    font-family: $fancy;
    margin-bottom: 0;
    color: black;
    // font-size: 20px;
    background: rgba(233, 234, 234,.7);
  }
  .buttonHide{
    display: none;
  }
  .bioButton{
    // text-align: center;
    border: solid 1px black;
    margin-bottom: 0;
    // width: 155px;
    // background-color: $grey;
    color:black;
    display: inline-block;
    // border-radius: 5px;
    animation: showDivs 2s;
    margin-top: 2rem;
    p{
      margin: 0;
    }
    a{
      color:black;
      text-decoration: none;
      &:hover{
        color:white;
      }
    }
    &:hover{
      background-color: black;
      // border:solid 1px black;
      color:white;
      // border-radius: 5px;
    }
  }
.docs{
  font-family: money;
  font-size: 1.5rem;
  width: 100%;
  // float:right;
  text-align: center;
  // margin-top: 6vw;
  clear:both;
  margin-bottom: 3rem;
  #main{
    @media(max-width: 320px){
      width:8rem;
    }
    width:285px;
    margin-left: auto;
    margin-right:auto;
    margin-top:2rem;
    border: solid 1px rgb(118, 118, 122);
    // border-radius: 5px;
    &:hover{
      color:white;
      background-color: black;
      border: 1px solid black;
      // border-radius: 5px;
      cursor: pointer;
    }
  }
  img{
    padding: 0 6vw;
  }
  p{
    // border: solid 1px rgb(118, 118, 122);
    width:130px;
  }
}
}
}

// contact page
// .sideways{
//   // border: 1px solid black;
//   position:absolute;
//   width:10vw;
//   height: 100vw;
//   background-color: $accent;
//   margin-top:-35vw;
//   margin-left: 45vw;
//   display:none;
//   z-index: -999;
//   transform: rotate(-90deg);
// }

.formContainer{
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 768px) {
  // height: 80vh;
  }
  @media only screen
  and (min-device-width:300px) and (orientation: landscape)
  and (max-device-width:666px) and (orientation: landscape){
    // height: 90vh;
  }
  width: 100vw;
  margin:0 auto;
  // height: 85vh;

  .stuffholder{
    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 667px) {
    width:90vw;
    margin-top: 75px;
    }
    @media(max-width: 580px){
      width:100vw;
    }

    width: 63vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    height: 50vw;
    p{
      text-align: center;
      font-family: $font;
    }
    .formholder{
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 667px) {
      width: 80vw;
      height: 80vw;
      margin:0 auto;
      float:none;
      position: relative;
      }
      @media only screen
      and (min-device-width:300px) and (orientation: landscape)
      and (max-device-width:667px) and (orientation: landscape){
        width: 50vw;
        height: 50vh;
        margin:0 auto;
        float:none;
        position: relative;
      }
      @media(max-width: 580px){
        float: none;
        width: 90%;
        height: 90%;
        position: relative;
        margin: 0 auto;
      }
      @media(max-width: 396px){
        float: none;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
      }
      @media(max-width: 360px){
        float: none;
        width: 100%;
        height: 100%;
        position: relative;
        margin: 0 auto;
        border:none;
        background-color: rgba(255,255,255,0);
      }
      float:left;
      width:30vw;
      height: 30vw;
      background-color:rgba(255,255,255,1);
      border:solid 1px $accent;
      position: absolute;
      form{
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        // border:solid black 1px;
        background-color: rgba(233, 235, 235,.5);
        position:absolute;
      // float:left;
      // width:30vw;
      // height: 30vw;
      // background-color:$grey;
      // border:solid 1px $grey;
        text-align: center;
        padding:0rem;
        input{
          @media(max-width: 360px){
            width: 80%;
            margin-top: .25rem;
          }
          // border-radius: 3px;
          border:solid #898686 1px;
          text-align: center;
          margin-top: 1rem;
        }
        textarea{
          @media(max-width: 360px){
            width: 80%;
            margin-top: .25rem;
          }

          margin-top: 2rem;
          width:80%;
          height: 50%;
        }
        button{
          // border:solid black .5px;
          // border-radius: 5px;
        }
      }
    }
    .contactPic{
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 667px) {
        display: none;
      }
      @media(max-width: 580px){
        display: none;
      }

      background-image: url('../img/resized/square500/laugh.jpg');
      background-size: cover;
      width: 30vw;
      height: 30vw;
      float:right;

    }
  }
}

// manage eventsDiv
.manageContainer{
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 667px) {
    height:80vh;
  }
  border:solid 1px black;
  width: 95vw;
  height: 80vh;
  margin:0 auto;
  .form1{
    float:right;
    width:50%;
    text-align: center;
  }
  .form2{
    h1{
      margin-top:0;
    }
    text-align: center;
    float:left;
    width: 50%;
  }
}

.deleteContainer{
  width: 95vw;
  height: 50vw;
  margin:0 auto;
  .form3{
    float:right;
    width:50%;
    text-align: center;
  }
  .form4{
    h1{
      margin-top:0;
    }
    text-align: center;
    float:left;
    width: 50%;
  }
}
.login{
  margin: auto;
  width:40vw;
  text-align: center;
  input{
    text-align: center;
  }
}

//sent
.sentContainer{
  text-align: center;
  img{
    width:30%;
  }
}
