@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Great+Vibes|Rouge+Script");
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Yantramanav:300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
/*font-family: 'Great Vibes', cursive;
font-family: 'Rouge Script', cursive;
font-family: 'Bilbo Swash Caps', cursive;
font-family: 'Yantramanav', sans-serif;
font-family: 'Didact Gothic', sans-serif;*/
@font-face {
  font-family: money;
  src: url("../fonts/Montserrat-Thin.ttf"); }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }
  html body {
    height: 100%; }

.hide {
  display: none; }

.icon {
  width: 3vw; }

.lineThrough {
  background-color: #9B0423;
  position: relative;
  height: 1px;
  z-index: 0; }

.footer {
  height: 2.7rem;
  margin-top: -2.7rem;
  background-color: #e9eaea;
  width: 100vw;
  z-index: 2;
  position: relative;
  clear: both; }
  .footer .iconCenter {
    padding-top: 0;
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    font-family: money; }
    .footer .iconCenter .footerIcons {
      padding-top: .5rem;
      width: 1.5rem;
      height: 1.5rem;
      margin: auto; }
    .footer .iconCenter p {
      font-size: .9rem;
      width: 100vw;
      margin-left: 0;
      margin-right: 0; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 666px) {
        .footer .iconCenter p {
          margin-bottom: 0;
          font-size: 10px; } }
      @media (max-width: 315px) {
        .footer .iconCenter p {
          font-size: .5rem; } }

@keyframes showDivs {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

body {
  margin: 0;
  padding: 0;
  animation: showDivs 1s; }
  body ng-scope {
    background-color: #e9eaea; }

@keyframes nav-slide {
  from {
    padding: 0 0; }
  to {
    padding: 0 4vw; } }
  body .mobileNav {
    text-align: center;
    width: 60px;
    position: absolute;
    font-size: 40px;
    color: black;
    z-index: 19;
    margin-top: 0px; }
    @media only screen and (min-device-width: 668px) {
      body .mobileNav {
        display: none; } }
  body .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #efefef;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center; }
  body .sidenav a {
    font-family: "Didact Gothic", sans-serif;
    margin-top: 20px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.3s; }
  body .sidenav a:hover {
    color: #f1f1f1; }
  body .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px; }
  body #navTable {
    text-align: center;
    background-color: #e9eaea;
    border-top: 1px solid #dee0e0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 32px;
    margin: auto;
    z-index: 11; }
    @media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
      body #navTable {
        display: none; } }
    @media (max-width: 607px) {
      body #navTable {
        height: 28px; } }
    body #navTable a {
      color: black;
      font-size: 20px;
      text-decoration: none;
      z-index: 11; }
      @media (max-width: 607px) {
        body #navTable a {
          font-size: 15px; } }
      @media (max-width: 462px) {
        body #navTable a {
          font-size: 12px; } }
      @media (max-width: 375px) {
        body #navTable a {
          font-size: 9px; } }
      @media (max-width: 288px) {
        body #navTable a {
          font-size: .5rem; } }
      body #navTable a:hover {
        color: white;
        background-color: rgba(212, 214, 214, 0.2);
        border-radius: 4px; }
      body #navTable a:before {
        background-color: #e9eaea; }
    body #navTable .pageNotify {
      display: inline;
      font-family: money;
      padding: 0 4vw;
      border-radius: 4px; }
      body #navTable .pageNotify a {
        color: #9B0423; }
    body #navTable .navSelect {
      font-family: money;
      display: inline;
      padding: 0 4vw; }
      @media (max-width: 288px) {
        body #navTable .navSelect {
          padding: 0 .25em; } }

.container-fluid {
  width: 100%;
  min-height: 100%;
  padding: 0 !important; }
  .container-fluid .doubleHolder {
    padding-bottom: 2.7rem; }
    .container-fluid .doubleHolder .title {
      height: 125px;
      letter-spacing: 2rem;
      text-align: center;
      font-family: money;
      color: black;
      background-color: #efefef; }
      @media (max-width: 862px) {
        .container-fluid .doubleHolder .title {
          letter-spacing: 1rem; } }
      @media (max-width: 705px) {
        .container-fluid .doubleHolder .title {
          letter-spacing: 0; } }
      @media (max-width: 530px) {
        .container-fluid .doubleHolder .title {
          letter-spacing: 0;
          height: 6.5rem; } }
      @media (max-width: 415px) {
        .container-fluid .doubleHolder .title {
          letter-spacing: 0;
          height: 5rem; } }
      @media (max-width: 310px) {
        .container-fluid .doubleHolder .title {
          letter-spacing: 0;
          height: 4rem; } }
      .container-fluid .doubleHolder .title .nospace {
        letter-spacing: 0 !important; }
      .container-fluid .doubleHolder .title #soprano {
        font-size: 1.5em;
        margin-top: -13px;
        margin-bottom: 10px; }
      .container-fluid .doubleHolder .title .accent {
        color: #9B0423; }
      .container-fluid .doubleHolder .title .theN {
        font-family: money; }
      .container-fluid .doubleHolder .title h1 {
        font-size: 5rem;
        margin: 0; }
        @media (max-width: 530px) {
          .container-fluid .doubleHolder .title h1 {
            font-size: 4rem; } }
        @media (max-width: 415px) {
          .container-fluid .doubleHolder .title h1 {
            font-size: 3rem; } }
        @media (max-width: 310px) {
          .container-fluid .doubleHolder .title h1 {
            font-size: 2rem; } }
    .container-fluid .doubleHolder .top {
      width: 100vw;
      height: 600px;
      margin: 0;
      background-image: url("../img/resized/window.jpg");
      background-attachment: fixed;
      background-position: 0 -200px;
      background-repeat: no-repeat;
      background-size: cover; }
      @media only screen and (min-device-width: 300px) and (max-device-width: 666px) {
        .container-fluid .doubleHolder .top {
          background-size: cover;
          background-attachment: local;
          height: 40vh; } }
      @media (orientation: landscape) and (max-device-width: 736px) {
        .container-fluid .doubleHolder .top {
          background-position: 0 -100px;
          background-size: cover;
          height: 100vh; } }
      @media (max-width: 1280px) {
        .container-fluid .doubleHolder .top {
          background-position: 0 -25px; } }
      @media (max-width: 910px) {
        .container-fluid .doubleHolder .top {
          background-position: 0 0px; } }
    .container-fluid .doubleHolder .upcoming {
      width: 100vw;
      height: 20rem;
      margin: 0;
      background-color: #efefef;
      position: relative; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
        .container-fluid .doubleHolder .upcoming {
          height: auto;
          background-color: #efefef; } }
      @media (orientation: landscape) and (max-device-width: 736px) {
        .container-fluid .doubleHolder .upcoming {
          height: 20rem; } }
      @media (max-width: 480px) {
        .container-fluid .doubleHolder .upcoming {
          height: 15rem; } }
      .container-fluid .doubleHolder .upcoming .surroundUpcoming {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 0;
        background-color: #efefef;
        text-align: center; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
          .container-fluid .doubleHolder .upcoming .surroundUpcoming {
            background-color: #efefef;
            color: #222222; } }
        .container-fluid .doubleHolder .upcoming .surroundUpcoming a {
          color: #173547;
          text-decoration: none; }
        .container-fluid .doubleHolder .upcoming .surroundUpcoming .section {
          display: inline;
          margin-top: 0;
          margin-bottom: .5vw;
          font-size: 3rem;
          text-align: center;
          font-family: money;
          position: relative;
          z-index: 1; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
            .container-fluid .doubleHolder .upcoming .surroundUpcoming .section {
              margin-bottom: -1.5vw;
              font-size: 1.5rem;
              background-color: #efefef;
              border-color: 2px solid #222222;
              color: #222222; } }
          @media (max-width: 379px) {
            .container-fluid .doubleHolder .upcoming .surroundUpcoming .section {
              font-size: 2.5rem; } }
        .container-fluid .doubleHolder .upcoming .surroundUpcoming span {
          font-family: "Didact Gothic", sans-serif;
          font-size: 2vw;
          font-style: italic; }
          @media only screen and (min-device-width: 667px) {
            .container-fluid .doubleHolder .upcoming .surroundUpcoming span {
              display: none; } }
      .container-fluid .doubleHolder .upcoming #blinkingArrow {
        position: absolute;
        left: 1rem;
        top: 0;
        font-size: 1rem;
        font-family: "Didact Gothic", sans-serif; }
        @media (max-width: 480px) {
          .container-fluid .doubleHolder .upcoming #blinkingArrow {
            bottom: 1rem;
            top: auto; } }
      .container-fluid .doubleHolder .upcoming #blinkingArrowLeft {
        position: absolute;
        right: 1rem;
        top: 0;
        font-size: 1rem;
        font-family: "Didact Gothic", sans-serif; }
        @media (max-width: 480px) {
          .container-fluid .doubleHolder .upcoming #blinkingArrowLeft {
            bottom: 1rem;
            top: auto; } }
      .container-fluid .doubleHolder .upcoming .eventHomePage {
        width: 100%;
        margin: auto;
        overflow-x: hidden;
        white-space: nowrap;
        height: 83%;
        display: inline-block; }
        .container-fluid .doubleHolder .upcoming .eventHomePage .arrowRight {
          display: none; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
            .container-fluid .doubleHolder .upcoming .eventHomePage .arrowRight {
              display: block;
              margin-left: 75%;
              margin-top: -24%;
              position: absolute;
              z-index: 2; }
              .container-fluid .doubleHolder .upcoming .eventHomePage .arrowRight img {
                width: 60px;
                height: 60px; } }
        .container-fluid .doubleHolder .upcoming .eventHomePage .event1 {
          display: inline-block;
          width: 100vw;
          height: 95%;
          font-family: "Didact Gothic", sans-serif;
          font-size: 1.5vw;
          margin-right: 0;
          margin-left: 0;
          z-index: 2; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
            .container-fluid .doubleHolder .upcoming .eventHomePage .event1 {
              margin: 0; } }
          .container-fluid .doubleHolder .upcoming .eventHomePage .event1:hover {
            cursor: pointer; }
          .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData {
            float: left;
            width: 45vw; }
            @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData {
                float: left;
                width: 100vw; } }
            @media (max-width: 480px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData {
                width: 100vw;
                text-align: center; } }
            .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .afterDate {
              font-size: 2rem;
              width: 47vw;
              margin-left: 1rem;
              margin-top: 2vw;
              margin-bottom: -2vh; }
              @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
                .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .afterDate {
                  width: 100%;
                  font-family: 'Open Sans';
                  font-size: 3vw;
                  margin-top: 4px;
                  margin-bottom: -1.5vh;
                  color: #222222; } }
              @media (max-width: 480px) {
                .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .afterDate {
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;
                  font-size: 2rem; } }
            .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .eventname {
              color: #c67b40;
              margin-left: 1rem;
              margin-bottom: -1rem;
              white-space: pre-line;
              font-family: "Didact Gothic", sans-serif;
              font-size: 1.5rem; }
              @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
                .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .eventname {
                  width: 100%;
                  margin-top: 5px;
                  margin-left: 0;
                  font-size: 5vw;
                  font-family: "Didact Gothic", sans-serif; } }
            .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .descript {
              margin-left: 1rem;
              font-size: 1.25rem;
              width: 45vw;
              height: 5vw;
              white-space: pre-line;
              color: #173547; }
              @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
                .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .descript {
                  width: 90%;
                  font-size: 1rem;
                  color: #222222;
                  margin: 0; } }
              @media (max-width: 480px) {
                .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .descript {
                  width: 95vw;
                  margin: 0; } }
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .descript p {
                margin: 0; }
            .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .seeEvents {
              margin-left: 1rem;
              position: absolute;
              bottom: 1rem; }
              @media (max-width: 670px) {
                .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .eventData .seeEvents {
                  display: none; } }
          .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder0 {
            width: 48vw;
            height: 100%;
            margin-right: 4vw;
            background-size: cover;
            float: right;
            background-image: url("../img/resized/landscape/Detroit Opera House 2.jpg"); }
            @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder0 {
                display: none; } }
            @media (max-width: 480px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder0 {
                display: none; } }
          .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder1 {
            width: 48vw;
            height: 100%;
            margin-right: 4vw;
            background-size: cover;
            float: right;
            background-image: url("../img/resized/w900h600/pizza.png"); }
            @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder1 {
                display: none; } }
            @media (orientation: landscape) and (max-device-width: 736px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder1 {
                background-position: right; } }
            @media (max-width: 480px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder1 {
                display: none; } }
          .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder2 {
            width: 48vw;
            height: 100%;
            margin-right: 4vw;
            background-size: cover;
            float: right;
            background-image: url("../img/resized/w900h600/flipped.png"); }
            @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder2 {
                display: none; } }
            @media (max-width: 480px) {
              .container-fluid .doubleHolder .upcoming .eventHomePage .event1 .picHolder2 {
                display: none; } }
    .container-fluid .doubleHolder .mediaSign {
      width: 100vw;
      height: 22rem;
      background-image: url("../img/nikkiNoSmile1fit.jpg");
      background-size: cover; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 666px) {
        .container-fluid .doubleHolder .mediaSign {
          background-size: cover;
          background-attachment: initial;
          background-position: bottom;
          height: 35vh; } }
      @media (orientation: landscape) and (max-device-width: 736px) {
        .container-fluid .doubleHolder .mediaSign {
          height: 70vh;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top; } }
      .container-fluid .doubleHolder .mediaSign .section2 {
        margin: 0;
        padding-top: 10%;
        padding-right: 50%;
        color: white;
        font-size: 36px;
        text-align: center;
        font-family: money; }
        .container-fluid .doubleHolder .mediaSign .section2 a {
          font-size: 3rem;
          font-family: money;
          text-decoration: none;
          color: white; }
          .container-fluid .doubleHolder .mediaSign .section2 a:hover {
            color: red; }
  .container-fluid .eventsPage {
    background-color: #e9eaea;
    width: 100%;
    animation: showDivs 1s;
    min-height: 100%; }
    .container-fluid .eventsPage a {
      color: black;
      text-decoration: none; }
    .container-fluid .eventsPage .eventHolder {
      height: 100%;
      width: 100%; }
      .container-fluid .eventsPage .eventHolder .section {
        display: none;
        font-size: 65px;
        text-align: center;
        font-family: "Rouge Script", cursive;
        color: #9B0423;
        position: relative;
        z-index: 15;
        width: 50%;
        background: rgba(233, 234, 234, 0.8);
        margin-top: -460px;
        right: 0%; }
        @media only screen and (min-device-width: 300px) and (max-device-width: 666px) {
          .container-fluid .eventsPage .eventHolder .section {
            margin-top: 0vw;
            width: 100vw;
            left: 0vw;
            font-size: 2.75rem; } }
        @media (max-device-width: 736px) and (orientation: landscape) {
          .container-fluid .eventsPage .eventHolder .section {
            left: 0; } }
        @media only screen and (min-device-width: 300px) and (orientation: landscape) and (max-device-width: 666px) and (orientation: landscape) {
          .container-fluid .eventsPage .eventHolder .section {
            display: none; } }
        @media (max-width: 610px) {
          .container-fluid .eventsPage .eventHolder .section {
            margin-top: 0vw;
            width: 100vw;
            left: 0vw;
            font-size: 2.75rem; } }
      .container-fluid .eventsPage .eventHolder .perfromancePic {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        border-top: #dee0e0 solid 1px;
        border-bottom: black solid 1px;
        background-image: url("/img/performance3.jpg");
        background-size: cover;
        background-position: center;
        z-index: 5; }
        @media (max-width: 600px) {
          .container-fluid .eventsPage .eventHolder .perfromancePic {
            background-image: none;
            justify-content: center;
            width: 100%; } }
        .container-fluid .eventsPage .eventHolder .perfromancePic .under {
          overflow: scroll;
          width: 50vw;
          background: rgba(233, 234, 234, 0.8);
          text-align: center; }
          @media (max-width: 600px) {
            .container-fluid .eventsPage .eventHolder .perfromancePic .under {
              width: 100%; } }
          .container-fluid .eventsPage .eventHolder .perfromancePic .under .portraitEvent {
            display: none; }
            @media (orientation: landscape) and (max-device-width: 667px) {
              .container-fluid .eventsPage .eventHolder .perfromancePic .under .portraitEvent {
                display: block;
                font-family: "Rouge Script", cursive;
                color: #9B0423;
                font-size: 55px; } }
          .container-fluid .eventsPage .eventHolder .perfromancePic .under span {
            font-family: "Didact Gothic", sans-serif; }
          .container-fluid .eventsPage .eventHolder .perfromancePic .under h3 {
            font-family: "Didact Gothic", sans-serif;
            color: #c67b40;
            margin-bottom: 1rem; }
            @media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
              .container-fluid .eventsPage .eventHolder .perfromancePic .under h3 {
                font-size: 1.5rem;
                font-family: "Didact Gothic", sans-serif; } }
            @media (max-width: 330px) {
              .container-fluid .eventsPage .eventHolder .perfromancePic .under h3 {
                font-size: 1rem; } }
          .container-fluid .eventsPage .eventHolder .perfromancePic .under h4 {
            margin-bottom: .5rem;
            margin-top: -1rem; }
            @media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
              .container-fluid .eventsPage .eventHolder .perfromancePic .under h4 {
                font-size: 1rem;
                font-family: "Didact Gothic", sans-serif;
                margin-bottom: 0rem; } }
            @media (max-width: 295px) {
              .container-fluid .eventsPage .eventHolder .perfromancePic .under h4 {
                font-size: .75rem; } }
          @media only screen and (min-device-width: 300px) and (max-device-width: 667px) {
            .container-fluid .eventsPage .eventHolder .perfromancePic .under p {
              font-size: 1rem; } }
          @media (max-width: 489px) {
            .container-fluid .eventsPage .eventHolder .perfromancePic .under p {
              font-size: 1rem; } }
          @media (max-width: 375px) {
            .container-fluid .eventsPage .eventHolder .perfromancePic .under p {
              font-size: 1rem; } }
          .container-fluid .eventsPage .eventHolder .perfromancePic .under .eventsDiv {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-family: "Didact Gothic", sans-serif;
            padding: 0;
            width: 80%;
            height: 150px; }
            @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
              .container-fluid .eventsPage .eventHolder .perfromancePic .under .eventsDiv {
                width: 95vw;
                font-size: 16px;
                margin-top: 2rem;
                margin-bottom: 3rem; } }
            .container-fluid .eventsPage .eventHolder .perfromancePic .under .eventsDiv:hover {
              color: #9B0423;
              cursor: pointer; }
  .container-fluid .thisEventPage {
    width: 100vw;
    height: 1000px;
    font-family: "Didact Gothic", sans-serif;
    color: black; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
      .container-fluid .thisEventPage {
        height: 700px; } }
    .container-fluid .thisEventPage .pic1Holder {
      width: 100vw; }
      .container-fluid .thisEventPage .pic1Holder a {
        font-family: "Didact Gothic", sans-serif;
        color: black;
        text-decoration: none; }
      .container-fluid .thisEventPage .pic1Holder .Pic1 {
        width: 100vw;
        height: 20vw;
        background-image: url("/img/operahouse.jpg");
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        z-index: 5; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 666px) {
          .container-fluid .thisEventPage .pic1Holder .Pic1 {
            height: 35vw; } }
        @media (orientation: landscape) and (max-device-width: 667px) {
          .container-fluid .thisEventPage .pic1Holder .Pic1 {
            display: none; } }
    .container-fluid .thisEventPage #thisEventHold {
      width: 95vw;
      margin-top: 3vh; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
        .container-fluid .thisEventPage #thisEventHold {
          margin-top: -15px; } }
      .container-fluid .thisEventPage #thisEventHold .mapHolder {
        float: right;
        width: 50%;
        height: 100%; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
          .container-fluid .thisEventPage #thisEventHold .mapHolder {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2rem; } }
        .container-fluid .thisEventPage #thisEventHold .mapHolder #map {
          margin: auto;
          height: 29vw;
          width: 50vw; }
          @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
            .container-fluid .thisEventPage #thisEventHold .mapHolder #map {
              width: 70vw;
              height: 200px;
              margin: 0 auto; } }
      .container-fluid .thisEventPage #thisEventHold .eventDiv {
        margin: auto;
        float: left;
        font-family: "Didact Gothic", sans-serif;
        padding-left: 2%;
        width: 48%;
        height: 150px; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
          .container-fluid .thisEventPage #thisEventHold .eventDiv {
            width: 95vw;
            text-align: center;
            margin: 0 auto;
            height: 220px; } }
        .container-fluid .thisEventPage #thisEventHold .eventDiv h3 {
          color: #c67b40; }
        .container-fluid .thisEventPage #thisEventHold .eventDiv a {
          color: black;
          text-decoration: none; }
          .container-fluid .thisEventPage #thisEventHold .eventDiv a p {
            border: solid 1px black;
            width: 160px;
            margin-top: 20px;
            text-align: center; }
            @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
              .container-fluid .thisEventPage #thisEventHold .eventDiv a p {
                border: solid 1px black;
                width: 160px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px; } }
            .container-fluid .thisEventPage #thisEventHold .eventDiv a p:hover {
              background-color: black;
              color: white; }
  .container-fluid .mediaContainer {
    width: 100vw;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: money; }
    .container-fluid .mediaContainer h1 {
      text-align: center;
      font-family: money;
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    .container-fluid .mediaContainer p {
      position: absolute;
      width: 80px;
      font-family: "Didact Gothic", sans-serif;
      font-size: 150%;
      margin-top: 70px;
      background-color: rgba(233, 234, 234, 0.6); }
      @media (max-width: 575px) {
        .container-fluid .mediaContainer p {
          margin-top: 30px;
          background-color: rgba(233, 234, 234, 0);
          font-size: 100%; } }
      @media (max-width: 320px) {
        .container-fluid .mediaContainer p {
          margin-top: 15px;
          background-color: rgba(233, 234, 234, 0);
          font-size: 100%; } }
    .container-fluid .mediaContainer #mediaLable {
      color: white; }

@keyframes showDivs {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .container-fluid .mediaContainer .mediaHolder {
      width: 80vw;
      margin: 0 auto;
      display: flex;
      justify-content: space-around; }
      .container-fluid .mediaContainer .mediaHolder .audioDiv {
        text-align: center;
        color: black;
        border: solid 3px black;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        background-image: url("/img/NikkiSing.jpg");
        background-position: fixed;
        background-size: cover;
        z-index: 1;
        animation: showDivs 1s; }
        .container-fluid .mediaContainer .mediaHolder .audioDiv:hover {
          cursor: pointer;
          opacity: .5; }
      .container-fluid .mediaContainer .mediaHolder .photoDiv {
        text-align: center;
        color: black;
        border: solid 3px #c67b40;
        height: 20vw;
        width: 20vw;
        border-radius: 10vw;
        background-image: url("/img/NikkiWindow2square.jpg");
        background-size: cover;
        animation: showDivs 1s; }
        .container-fluid .mediaContainer .mediaHolder .photoDiv:hover {
          cursor: pointer;
          opacity: .5; }
      .container-fluid .mediaContainer .mediaHolder .videoDiv {
        text-align: center;
        color: black;
        border: solid 3px grey;
        height: 20vw;
        width: 20vw;
        border-radius: 10vw;
        background-image: url("/img/nikkiDecember1.jpg");
        background-size: cover;
        animation: showDivs 1s; }
        .container-fluid .mediaContainer .mediaHolder .videoDiv:hover {
          cursor: pointer;
          opacity: .5; }
  .container-fluid .audioBox {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    animation: showDivs 1s;
    position: relative;
    z-index: 1;
    font-family: money; }
  .container-fluid .mediaBoxHide {
    display: none; }
  .container-fluid .videoBox {
    font-family: money;
    text-align: center;
    width: 62vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    animation: showDivs 1s; }
    .container-fluid .videoBox #ytplayer {
      font-family: "Didact Gothic", sans-serif;
      width: 60vw;
      height: 25vw;
      position: relative;
      padding-top: 2vw;
      margin: 0 auto; }
      .container-fluid .videoBox #ytplayer a {
        color: black;
        text-decoration: none;
        font-size: 1vw; }
        .container-fluid .videoBox #ytplayer a .vidRep {
          width: 25vw;
          height: 20vw;
          float: left;
          border: solid 2px #9B0423;
          padding-top: 3%;
          background-image: url("../img/resized/w900h600/flipped.png");
          background-size: cover;
          background-repeat: no-repeat;
          position: relative; }
          @media (max-width: 320px) {
            .container-fluid .videoBox #ytplayer a .vidRep {
              padding-top: 0; } }
          .container-fluid .videoBox #ytplayer a .vidRep div {
            top: 20px;
            right: 20px;
            bottom: 20px;
            left: 20px;
            position: absolute;
            background: rgba(255, 255, 255, 0.7); }
          .container-fluid .videoBox #ytplayer a .vidRep h3 {
            margin-top: 50px; }
            @media (max-width: 900px) {
              .container-fluid .videoBox #ytplayer a .vidRep h3 {
                margin-top: 30px; } }
            @media (max-width: 640px) {
              .container-fluid .videoBox #ytplayer a .vidRep h3 {
                margin-top: 10px; } }
            @media (max-width: 492px) {
              .container-fluid .videoBox #ytplayer a .vidRep h3 {
                margin-top: 0;
                margin-bottom: 0; } }
            @media (max-width: 320px) {
              .container-fluid .videoBox #ytplayer a .vidRep h3 {
                margin-top: -10px;
                margin-bottom: -3px; } }
          @media (max-width: 695px) {
            .container-fluid .videoBox #ytplayer a .vidRep h5 {
              margin-top: 0;
              font-size: 150%; } }
          @media (max-width: 310px) {
            .container-fluid .videoBox #ytplayer a .vidRep h5 {
              margin-bottom: 0; } }
          @media (max-width: 575px) {
            .container-fluid .videoBox #ytplayer a .vidRep p {
              margin-bottom: 0; } }
          .container-fluid .videoBox #ytplayer a .vidRep .vidName {
            color: #9B0423;
            font-size: 2vw;
            margin-top: 3px; }
          .container-fluid .videoBox #ytplayer a .vidRep:hover {
            border: solid 4px grey;
            cursor: pointer; }
        .container-fluid .videoBox #ytplayer a .vidRep2 {
          width: 25vw;
          height: 20vw;
          float: right;
          border: solid 2px #9B0423;
          padding-top: 3%;
          background-image: url("../img/resized/w900h600/Screen Shot 2017-06-19 at 9.29.00 PM.png");
          background-size: cover;
          background-position: center right;
          background-repeat: no-repeat;
          position: relative; }
          @media (max-width: 320px) {
            .container-fluid .videoBox #ytplayer a .vidRep2 {
              padding-top: 0; } }
          .container-fluid .videoBox #ytplayer a .vidRep2 div {
            top: 20px;
            right: 20px;
            bottom: 20px;
            left: 20px;
            position: absolute;
            background: rgba(255, 255, 255, 0.7); }
          .container-fluid .videoBox #ytplayer a .vidRep2 h3 {
            margin-top: 50px; }
            @media (max-width: 900px) {
              .container-fluid .videoBox #ytplayer a .vidRep2 h3 {
                margin-top: 30px; } }
            @media (max-width: 640px) {
              .container-fluid .videoBox #ytplayer a .vidRep2 h3 {
                margin-top: 10px; } }
            @media (max-width: 492px) {
              .container-fluid .videoBox #ytplayer a .vidRep2 h3 {
                margin-top: 0;
                margin-bottom: 0; } }
            @media (max-width: 320px) {
              .container-fluid .videoBox #ytplayer a .vidRep2 h3 {
                margin-top: -10px;
                margin-bottom: -3px; } }
          @media (max-width: 695px) {
            .container-fluid .videoBox #ytplayer a .vidRep2 h5 {
              margin-top: 0;
              font-size: 150%; } }
          @media (max-width: 310px) {
            .container-fluid .videoBox #ytplayer a .vidRep2 h5 {
              margin-bottom: 0; } }
          @media (max-width: 575px) {
            .container-fluid .videoBox #ytplayer a .vidRep2 p {
              margin-bottom: 0; } }
          .container-fluid .videoBox #ytplayer a .vidRep2 .vidName {
            color: #9B0423;
            font-size: 2vw;
            margin-top: 3px; }
          .container-fluid .videoBox #ytplayer a .vidRep2:hover {
            border: solid 4px grey;
            cursor: pointer; }
  .container-fluid .photoBox {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    animation: showDivs 3s;
    font-family: money;
    position: relative; }
    .container-fluid .photoBox .photoGallery1 {
      background-image: url("/img/resized/nikkiNoSmile.jpg");
      background-size: cover;
      width: 80vw;
      height: 30vw;
      margin: 0 auto;
      position: relative;
      border-bottom: solid 4px #e9eaea; }
    .container-fluid .photoBox .photoGallery2 {
      display: inline-block;
      background-image: url("/img/resized/performance.jpg");
      background-position: fixed;
      background-size: cover;
      width: 80vw;
      height: 30vw;
      margin: 0 auto;
      position: relative;
      border-top: solid 4px #e9eaea; }
    .container-fluid .photoBox .photoGallery3 {
      display: inline-block;
      background-image: url("/img/resized/400x500/ncutie.jpg");
      background-size: cover;
      width: 30vw;
      height: 30vw;
      float: right;
      position: relative; }
    .container-fluid .photoBox .photoGallery4 {
      background-image: url("/img/resized/400x500/window.jpg");
      background-size: cover;
      width: 30vw;
      height: 30vw;
      float: left;
      position: relative; }
    .container-fluid .photoBox .photoGallery5 {
      background-image: url("/img/resized/square500/sing.jpg");
      background-size: cover;
      width: 30vw;
      height: 30vw;
      margin: 0 auto;
      position: relative;
      border-left: solid 4px #e9eaea;
      border-right: solid 4px #e9eaea; }
  .container-fluid .boxHolder {
    margin-top: 0rem;
    background-color: #e9eaea; }

.bioContain {
  width: 85vw;
  height: auto;
  margin: 0 auto; }
  .bioContain h2 {
    font-family: "Didact Gothic", sans-serif; }
  .bioContain .bioHolder {
    margin-top: 1vw;
    height: auto; }
    .bioContain .bioHolder .bioPic {
      float: left;
      width: 40vw;
      height: 40vw;
      margin-right: 1vw;
      border: solid 4px #9B0423;
      padding: 5px;
      position: relative;
      z-index: 1; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 666px) {
        .bioContain .bioHolder .bioPic {
          width: 200px;
          height: 200px;
          border: solid 1px #9B0423;
          float: right;
          margin-right: 0; } }
      @media (orientation: landscape) and (max-device-width: 667px) {
        .bioContain .bioHolder .bioPic {
          width: 300px;
          height: 230px;
          border: solid 1px #9B0423;
          float: right;
          margin-right: 100px; } }
      .bioContain .bioHolder .bioPic div {
        border: solid black 1px;
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px;
        background-image: url("/img/resized/400x500/smiles.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 2; }
        @media only screen and (min-device-width: 664px) and (max-device-width: 665px) {
          .bioContain .bioHolder .bioPic div {
            background-position: center top;
            background-size: contain; } }
        @media (orientation: landscape) and (max-device-width: 666px) {
          .bioContain .bioHolder .bioPic div {
            background-position: center top; } }
    .bioContain .bioHolder .bioP {
      margin-top: 5vw;
      font-family: "Didact Gothic", sans-serif;
      margin-bottom: 0;
      color: black;
      background: rgba(233, 234, 234, 0.7); }
      @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
        .bioContain .bioHolder .bioP {
          background: rgba(233, 234, 234, 0.9);
          float: left; } }
    .bioContain .bioHolder .buttonHide {
      display: none; }
    .bioContain .bioHolder .bioButton {
      border: solid 1px black;
      margin-bottom: 0;
      color: black;
      display: inline-block;
      animation: showDivs 2s; }
      .bioContain .bioHolder .bioButton p {
        margin: 0; }
      .bioContain .bioHolder .bioButton a {
        color: black;
        text-decoration: none; }
        .bioContain .bioHolder .bioButton a:hover {
          color: white; }
      .bioContain .bioHolder .bioButton:hover {
        background-color: black;
        color: white; }
    .bioContain .bioHolder .docs {
      font-family: money;
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      clear: both;
      margin-bottom: 3rem; }
      .bioContain .bioHolder .docs #main {
        width: 285px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        border: solid 1px #76767a; }
        @media (max-width: 320px) {
          .bioContain .bioHolder .docs #main {
            width: 8rem; } }
        .bioContain .bioHolder .docs #main:hover {
          color: white;
          background-color: black;
          border: 1px solid black;
          cursor: pointer; }
      .bioContain .bioHolder .docs img {
        padding: 0 6vw; }
      .bioContain .bioHolder .docs p {
        width: 130px; }

.formContainer {
  width: 100vw;
  margin: 0 auto;
  height: 85vh; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .formContainer {
      height: 80vh; } }
  @media only screen and (min-device-width: 300px) and (orientation: landscape) and (max-device-width: 666px) and (orientation: landscape) {
    .formContainer {
      height: 90vh; } }
  .formContainer .stuffholder {
    width: 63vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    height: 50vw; }
    @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
      .formContainer .stuffholder {
        width: 90vw;
        margin-top: 75px; } }
    @media (max-width: 580px) {
      .formContainer .stuffholder {
        width: 100vw; } }
    .formContainer .stuffholder p {
      text-align: center;
      font-family: money; }
    .formContainer .stuffholder .formholder {
      float: left;
      width: 30vw;
      height: 30vw;
      background-color: white;
      border: solid 1px #9B0423;
      position: absolute; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
        .formContainer .stuffholder .formholder {
          width: 80vw;
          height: 80vw;
          margin: 0 auto;
          float: none;
          position: relative; } }
      @media only screen and (min-device-width: 300px) and (orientation: landscape) and (max-device-width: 667px) and (orientation: landscape) {
        .formContainer .stuffholder .formholder {
          width: 50vw;
          height: 50vh;
          margin: 0 auto;
          float: none;
          position: relative; } }
      @media (max-width: 580px) {
        .formContainer .stuffholder .formholder {
          float: none;
          width: 90%;
          height: 90%;
          position: relative;
          margin: 0 auto; } }
      @media (max-width: 396px) {
        .formContainer .stuffholder .formholder {
          float: none;
          width: 100%;
          height: 100%;
          position: relative;
          margin: 0 auto; } }
      @media (max-width: 360px) {
        .formContainer .stuffholder .formholder {
          float: none;
          width: 100%;
          height: 100%;
          position: relative;
          margin: 0 auto;
          border: none;
          background-color: rgba(255, 255, 255, 0); } }
      .formContainer .stuffholder .formholder form {
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        background-color: rgba(233, 235, 235, 0.5);
        position: absolute;
        text-align: center;
        padding: 0rem; }
        .formContainer .stuffholder .formholder form input {
          border: solid #898686 1px;
          text-align: center;
          margin-top: 1rem; }
          @media (max-width: 360px) {
            .formContainer .stuffholder .formholder form input {
              width: 80%;
              margin-top: .25rem; } }
        .formContainer .stuffholder .formholder form textarea {
          margin-top: 2rem;
          width: 80%;
          height: 50%; }
          @media (max-width: 360px) {
            .formContainer .stuffholder .formholder form textarea {
              width: 80%;
              margin-top: .25rem; } }
    .formContainer .stuffholder .contactPic {
      background-image: url("../img/resized/square500/laugh.jpg");
      background-size: cover;
      width: 30vw;
      height: 30vw;
      float: right; }
      @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
        .formContainer .stuffholder .contactPic {
          display: none; } }
      @media (max-width: 580px) {
        .formContainer .stuffholder .contactPic {
          display: none; } }

.manageContainer {
  border: solid 1px black;
  width: 95vw;
  height: 80vh;
  margin: 0 auto; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
    .manageContainer {
      height: 80vh; } }
  .manageContainer .form1 {
    float: right;
    width: 50%;
    text-align: center; }
  .manageContainer .form2 {
    text-align: center;
    float: left;
    width: 50%; }
    .manageContainer .form2 h1 {
      margin-top: 0; }

.deleteContainer {
  width: 95vw;
  height: 50vw;
  margin: 0 auto; }
  .deleteContainer .form3 {
    float: right;
    width: 50%;
    text-align: center; }
  .deleteContainer .form4 {
    text-align: center;
    float: left;
    width: 50%; }
    .deleteContainer .form4 h1 {
      margin-top: 0; }

.login {
  margin: auto;
  width: 40vw;
  text-align: center; }
  .login input {
    text-align: center; }

.sentContainer {
  text-align: center; }
  .sentContainer img {
    width: 30%; }
