@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Great+Vibes|Rouge+Script");
/*font-family: 'Great Vibes', cursive;
font-family: 'Rouge Script', cursive;
font-family: 'Bilbo Swash Caps', cursive;*/
.lineThrough {
  background-color: #9B0423;
  position: relative;
  height: 1px;
  z-index: 0; }

.footer {
  height: 75px;
  background-color: #e9eaea;
  width: 100vw; }
  .footer .iconCenter {
    padding-top: 10px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: "Montserrat", sans-serif; }
    .footer .iconCenter .footerIcons {
      width: 35px;
      height: 35px;
      margin: auto; }

@keyframes showDivs {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  margin: 0;
  padding: 0;
  animation: showDivs 1s; }
  body ng-scope {
    background-color: #e9eaea; }
@keyframes nav-slide {
  from {
    padding: 0 0;
    /*margin-left: 1920px;*/ }
  to {
    padding: 0 3vw;
    /* margin-left: 0;*/ } }
  body #navTable {
    text-align: center;
    background-color: #e9eaea;
    /*animation: nav-slide 2s;*/
    border-top: 1px solid #dee0e0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 32px;
    margin: auto;
    z-index: 11; }
    body #navTable a {
      color: grey;
      font-size: 24px;
      text-decoration: none;
      z-index: 11; }
      body #navTable a:hover {
        color: #9B0423;
        background-color: #efefef;
        border-radius: 4px; }
      body #navTable a:before {
        background-color: #e9eaea; }
    body #navTable .navSelect {
      font-family: "Montserrat", sans-serif;
      display: inline;
      padding: 0 3vw;
      animation: nav-slide 1s; }
  body .row {
    padding: 0;
    margin: 0; }

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0 !important; }
  .container-fluid .title {
    /*border-bottom: solid 1px $accent;*/
    height: 125px;
    letter-spacing: 3vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: black;
    background-color: #efefef; }
    .container-fluid .title #soprano {
      font-size: 30px;
      margin-top: -15px; }
    .container-fluid .title .accent {
      color: #9B0423; }
    .container-fluid .title .theN {
      font-family: "Montserrat", sans-serif; }
    .container-fluid .title h1 {
      font-size: 600%;
      margin: 0; }
  .container-fluid .top {
    width: 100vw;
    height: 600px;
    margin: 0;
    background-image: url("/img/NikkiWindow.jpg");
    /*background-attachment: fixed;*/
    /*background-position: 0 100px;*/
    background-repeat: no-repeat;
    background-size: cover; }
  .container-fluid .upcoming {
    width: 100vw;
    height: 27vw;
    margin: 0 auto;
    background-color: #efefef;
    /*background-image: url('/img/greystripes.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;*/
    /*   .event2{
       font-family: $fancy;
       font-size: 17px;
       text-align: center;
    // margin-bottom: -5px;
     }*/ }
    .container-fluid .upcoming .surroundUpcoming {
      width: 100%;
      margin: 0 auto;
      /*position: relative;*/
      /*padding-bottom: 20px;*/
      background-color: #efefef; }
      .container-fluid .upcoming .surroundUpcoming .section {
        margin-top: 0;
        font-size: 36px;
        text-align: center;
        font-family: "Poiret One", cursive;
        position: relative;
        z-index: 1; }
        .container-fluid .upcoming .surroundUpcoming .section a {
          text-decoration: none;
          color: black;
          position: relative;
          z-index: 2; }
    .container-fluid .upcoming .eventHomePage {
      width: 75vw;
      margin: auto; }
    .container-fluid .upcoming .eventname {
      color: #c67b40;
      text-decoration: underline;
      font-family: "Rouge Script", cursive;
      font-size: 1.5vw; }
    .container-fluid .upcoming .event1 {
      width: 18vw;
      height: 18vw;
      border-radius: 9vw;
      font-family: "Poiret One", cursive;
      font-size: 1vw;
      padding: 2vw;
      text-align: center;
      border: solid #9B0423 4px;
      position: relative;
      z-index: 1; }
    .container-fluid .upcoming .event1:after {
      content: '';
      position: absolute;
      top: .75vw;
      left: .75vw;
      right: .75vw;
      bottom: .75vw;
      border-radius: 10vw;
      background: #e9eaea;
      border: solid 2px #dee0e0;
      z-index: -1; }
    .container-fluid .upcoming .rec0 {
      float: left; }
    .container-fluid .upcoming .rec2 {
      margin: auto; }
    .container-fluid .upcoming .rec1 {
      float: right; }
  .container-fluid .mediaSign {
    width: 100%;
    height: 450px;
    background-image: url("/img/nikkiNoSmile3.jpg");
    /*background-attachment: fixed;*/
    background-size: cover;
    /*background-position: fixed;*/ }
    .container-fluid .mediaSign .section2 {
      margin: 0;
      padding-top: 10%;
      padding-right: 50%;
      color: white;
      font-size: 36px;
      text-align: center;
      font-family: "Montserrat", sans-serif; }
      .container-fluid .mediaSign .section2 a {
        text-decoration: none;
        color: white; }
  .container-fluid .eventsPage {
    animation: showDivs 1s;
    width: 100%; }
    .container-fluid .eventsPage .fancyName {
      font-family: "Rouge Script", cursive;
      color: #c67b40; }
    .container-fluid .eventsPage a {
      color: black;
      text-decoration: none; }
    .container-fluid .eventsPage .perfromancePic {
      width: 100%;
      height: 500px;
      border-top: #dee0e0 solid 1px;
      border-bottom: black solid 1px;
      background-image: url("/img/performance3.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: fixed;
      z-index: 5; }
    .container-fluid .eventsPage .mapHolder {
      /*float:right;*/
      width: 50%;
      height: 0%;
      bottom: 0;
      margin: 0; }
      .container-fluid .eventsPage .mapHolder #map {
        margin: 0;
        height: 0;
        width: 50vw; }
    .container-fluid .eventsPage .eventHolder {
      width: 100%;
      /*float: left;*/ }
      .container-fluid .eventsPage .eventHolder .section {
        font-size: 65px;
        text-align: center;
        font-family: "Poiret One", cursive;
        color: #1F1616;
        z-index: 15;
        width: 100%;
        margin: auto; }
      .container-fluid .eventsPage .eventHolder .eventsDiv {
        margin: auto;
        text-align: center;
        font-family: "Poiret One", cursive;
        padding: 0;
        width: 50%;
        height: 150px; }
        .container-fluid .eventsPage .eventHolder .eventsDiv:hover {
          color: #9B0423; }
  .container-fluid .thisEventPage {
    position: relative;
    width: 100%; }
    .container-fluid .thisEventPage a {
      color: black;
      text-decoration: none; }
    .container-fluid .thisEventPage .Pic1 {
      width: 100vw;
      height: 35vw;
      background-image: url("/img/operahouse.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 5; }
  .container-fluid #thisEventHold {
    width: 95vw;
    margin-top: 3vh; }
    .container-fluid #thisEventHold .mapHolder {
      float: left;
      width: 50%;
      height: 100%; }
      .container-fluid #thisEventHold .mapHolder #map {
        margin: auto;
        height: 29vw;
        width: 50vw; }
    .container-fluid #thisEventHold .eventDiv {
      margin: auto;
      float: left;
      font-family: "Montserrat", sans-serif;
      padding-left: 2%;
      width: 50%;
      height: 150px;
      /*&:hover{
        opacity: .5;
      }*/ }
    .container-fluid #thisEventHold .eventHolder {
      width: 100%;
      float: left; }
      .container-fluid #thisEventHold .eventHolder .section {
        font-size: 50px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: white;
        position: fixed;
        z-index: 15;
        width: 100%;
        margin: auto; }
      .container-fluid #thisEventHold .eventHolder .under {
        margin-top: 320px; }

.mediaContainer {
  width: 80vw;
  margin: 0 auto;
  padding-top: 10%;
  font-family: "Poiret One", cursive; }
  .mediaContainer h4 {
    font-size: 200%;
    margin-top: -50px; }
@keyframes showDivs {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  .mediaContainer .audioDiv {
    text-align: center;
    color: black;
    float: left;
    border: solid 3px #9B0423;
    height: 20vw;
    width: 20vw;
    border-radius: 10vw;
    background-image: url("/img/NikkiSing.jpg");
    background-position: fixed;
    background-size: cover;
    z-index: 1;
    animation: showDivs 3s; }
    .mediaContainer .audioDiv:hover {
      opacity: .7; }
  .mediaContainer .photoDiv {
    text-align: center;
    color: black;
    float: right;
    border: solid 3px #c67b40;
    height: 20vw;
    width: 20vw;
    border-radius: 10vw;
    background-image: url("/img/NikkiWindow2square.jpg");
    background-size: cover;
    animation: showDivs 3s; }
    .mediaContainer .photoDiv:hover {
      opacity: .7; }
  .mediaContainer .videoDiv {
    text-align: center;
    color: black;
    margin: auto;
    border: solid 3px grey;
    height: 20vw;
    width: 20vw;
    border-radius: 10vw;
    background-image: url("/img/nikkiDecember1.jpg");
    background-size: cover;
    animation: showDivs 3s; }
    .mediaContainer .videoDiv:hover {
      opacity: .7; }

.audioBox {
  text-align: center;
  width: 60%;
  margin: 3% auto;
  animation: showDivs 1s;
  position: relative;
  z-index: 1; }

.mediaBoxHide {
  display: none; }

.videoBox {
  text-align: center;
  width: 60vw;
  position: relative;
  margin: 4% auto;
  animation: showDivs 1s; }
  .videoBox #ytplayer {
    width: 44vw;
    height: 25vw;
    position: relative;
    margin: auto; }
    .videoBox #ytplayer iframe {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.photoBox {
  text-align: center;
  width: 80%;
  margin: 3% auto;
  animation: showDivs 3s;
  font-family: "Montserrat", sans-serif;
  position: relative; }
  .photoBox .photoGallery1 {
    background-image: url("/img/resized/nikkiNoSmile.jpg");
    background-size: cover;
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    border-bottom: solid 4px #e9eaea; }
  .photoBox .photoGallery2 {
    display: inline-block;
    background-image: url("/img/resized/performance.jpg");
    background-position: fixed;
    background-size: cover;
    width: 80vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    border-top: solid 4px #e9eaea; }
  .photoBox .photoGallery3 {
    display: inline-block;
    background-image: url("/img/resized/400x500/ncutie.jpg");
    background-size: cover;
    width: 30vw;
    height: 30vw;
    float: right;
    position: relative; }
  .photoBox .photoGallery4 {
    background-image: url("/img/resized/400x500/window.jpg");
    background-size: cover;
    width: 30vw;
    height: 30vw;
    float: left;
    position: relative; }
  .photoBox .photoGallery5 {
    background-image: url("/img/resized/square500/sing.jpg");
    background-size: cover;
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    position: relative;
    border-left: solid 4px #e9eaea;
    border-right: solid 4px #e9eaea; }

.boxHolder {
  background-color: #e9eaea; }

.bioContain {
  width: 85vw;
  height: 500px;
  margin: 3% auto; }
  .bioContain .bioPic {
    float: left;
    width: 40vw;
    height: 100%;
    background-image: url("/img/resized/400x500/smiles.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .bioContain .bioP {
    margin-left: 42vw;
    font-family: "Montserrat", sans-serif; }

/*# sourceMappingURL=style.css.map */
